mixin footer()
	+b.FOOTER.footer.block-with-lazy
		.container
			+form-wrap
				.row
					.col-sm-auto
						h6.strong.ttu.text-white Остались вопросы?
					.small.col-xl-4.text-white Введите свой вопрос и&nbsp;через 15&nbsp;минут с&nbsp;Вами свяжется наш специалист  
				.row
					.col-lg-7
						+input('Ваш вопрос','textarea')
					.col
						+input-lg('+7( ___ )___-__-__','tel','Ваш телефон:') 
						+e.btn.btn-3d.btn-primary.btn-block(type="submit") Получить проект и и расчет
				+polite()
			+e.body.container
				.row
					.col-xl-4.col-auto
						+e.logo-wrapper
							a(href="/")
								img(src="img/svg/logo.svg", alt="")
								span.logo-text Лестница  под ключ
							+e.logo-wrapper-caption.d-none.d-xl-block Изготовление и&nbsp;монтаж лестниц любой сложности в&nbsp;Москве и&nbsp;области 
						+e.btn-wrap
							+e.btn.btn-primary(href="#")
								+icon("telephone")
								| Заказать звонок
							+e.btn.btn-primary(href="#")
								+icon("rule")
								| Вызвать замерщика
					.col
						ul
							-
								var nav= {
									" Лестницы из дерева":'',
									" Лестницы из металла":'',
									" Лестницы из бетона":'',
									" Каркасы лестниц":'',
									" Отделка лестниц":'',
									" Лестницы из камня":'',
									" Кованые лестницы":'',
									" Лестницы из нержавейки":'',
									"Стеклянные лестницы ":'',
									"Лестницы винтовые ":'',
									"Лестницы забежные ":'',
									"Лестницы с площадкой ":'',
									"Наружные лестницы ":'',
									"Пожарные лестницы ":'',
									"Перила и ограждения ":'',
									"Антресольные этажи ":'',
								 
								}
							each linkPatch, linkName in nav 
								li
									a(href="#")= linkName 
					+e.col.col-lg-auto
						+e.tel(href="tel:+78615598877") + 7 861 559 88 77
						.smallest Москва и московская область
						.smallest.text-secondary © Copyright 2019. Все права защищены
			.container
				+e.foot Внимание! данный сайт носит информационный характер и&nbsp;ни&nbsp;при каких условиях не&nbsp;является публичной офертой, которая определяется положениями статьи 437 (2) гражданского кодекса рф. для получения подробной информации о&nbsp;наличии и&nbsp;стоимости указанных товаров&nbsp;и (или) услуг, пожалуйста, обращайтесь к&nbsp;нашим менеджерам. или мы&nbsp;сами свяжемся с&nbsp;вами