mixin sStandartEquipment()
	// start sStandartEquipment
	+b.SECTION.sStandartEquipment.section#sStandartEquipment&attributes(attributes)
		.container
			+b.section-title
				h2 Стандартная комплектация бани-бытовки
				
			table
				-
					var nav= { 
						'Открытый каркас':'Опорно-столбчатый из бетонных блоков 200х200х400мм. 6 шт.',
						'Обвязочный венец':'Не строганный брус 100х150мм. Производится обработка мастикой или отработанным маслом.',
						'Лаги':'Не строганный брус 40х100мм., с шагом 600мм.  Производится обработка мастикой или отработанным маслом',
						'Черновой пол':'Сплошной из обрезной доски 20мм.  Производится обработка мастикой или отработанным маслом.',
						'Чистовой пол':'Строганная шпунтованная доска 27мм. ',
						'Сруб ':'Профилированный брус 90х140мм. (+/- 5мм) естественной влажности.',
						'Межвенцовый  утеплитель':'Между венцами сруба прокладывается льноволокно (джут) ',
						'Перегородки':'Каркасные из бруска сечением 40х50мм. Перегородки  не утеплённые.',
						'Сборка сруба':'Производится на металлические нагеля (гвозди) 200мм. Гвозди утапливаются на 10-20мм.',
						'Высота':'2.05м+-5см 15 венцов бруса.',
						'Балки перекрытия':'Брус 40х150мм., с шагом 1000мм.',
						'Утепление':'50мм., минеральной ватой KNAUF(аналог): пол и потолок. ',
						'Паро-гидро изоляция':'ПВХ плёнка: 60мкр.',
						'Внутренняя отделка':'Вагонка хвойных пород, принудительной сушки. Класс «АВ»: потолок и перегородки. На все стыки стен, углов и потолка монтируется хвойный плинтус. Для отделки используются оцинкованные гвозди.',
						'Парное отделение':'Отделывается осиновой вагонкой в два пояса, класс «В» методом через фольгу. Монтируются осиновые, двух ярусные пологи. Для проветривания помещения устанавливается форточка размером 400х400мм. Устанавливается дровяная, банная печь «Каменка» с толщиной металла 3мм. Печь оснащена встроенным баком для воды на 55л. Труба печи выводится в стену. Камни для печи 20кг.',
						'Предбанник':'В предбаннике установлен стол и две скамьи.',
						'Моечное отделение':'Устанавливается  душевой, эмалированный поддон 800х800мм., с выводом сифона под пол.',
						'Окна':'Деревянные, двойное остекление. С фурнитурой. Размеры 800х800мм. (1шт), 600х600мм.(1шт), 400х400мм. (1шт)',
						'Двери':'Входная и в мойку каркасные зашитые хвойной вагонкой, размер 800х1800мм., в парную каркасная, осиновая дверь размером 700х1800мм. ',
						'Электрика':'Баня оснащена двумя автоматами на 10А и 16А двойной розеткой, тремя выключателями и тремя влагостойкими светильниками. Монтаж электропроводки на скобах.',
						'Фронтоны и карнизные свесы':'Фронтоны каркасные, зашиваются хвойной вагонкой. Карнизные свесы подшиваются вагонкой. Ширина карнизного свеса 100мм.',
						'Стропильная система':'Крыша  двускатная, высота конька 150мм. Стропильная система выполняется из бруса 40х150мм. Обрешетка из обрезной доски 20мм. ',
						'Кровельное покрытие':'Оцинкованный проф.лист С-8',
						'Покраска':'Производится наружная пропитка бани. Сруб кирпичного цвета, углы, наличник и карнизы темно-коричневые.',
					}
				each linkPatch, linkName in nav
					tr
						td(style="width:15rem"): strong= linkName
						td= linkPatch

	// end sStandartEquipment
	// start sStandartEquipment
	+b.SECTION.sStandartEquipment.section#sStandartEquipment&attributes(attributes)
		.container
			+b.section-title
				h2 Дополнительные услуги
				
			table
				-
					var nav= { 
						 'Замена кровли - оцинкованный проф. лист на ондулин':'3 000 руб',
						 'Замена кровли - оцинкованный проф. лист на металлочерепицу':'5 000 руб',
						 'Установка в парную двери с матовым стеклом':'6 000 руб',
						 'Замена бруса 150х150мм, обвязочный брус включен':'15%',
						 'Вывод трубы через кровлю':'5 000 руб',
						 'Замена стандартной печи на печь «Ермак12» с выводом трубы в крышу':'15 000 руб',
						 'Замена осиновой вагонки класса «Б» на класс «А»':'9 000 руб',
						 'Обработка основания бани':'0 руб',
						 'Замена одного деревянного окна на окно ПВХ 40х40':'1 500 руб',
						 'Замена одного деревянного окна на окно ПВХ 80х80':'2 500 руб',
						 'Сборка угла шип-паз «Теплый угол»':'6 000 руб',
						 'Увеличение стандартного конька бани с 15 до 30 см':'2 000 руб',
						 'Дополнительный венец (высота потолка увеличивается на 14 см)':'4 000 руб',
						 'Сборка бани на вашем участке (если нет возможности подъезда авто техники)':'30%',
						 'Дополнительное окно 0,4х0,4 м (для парного отделения)':'1 000 руб',
						 'Дополнительное окно 0,6х0,6 м':'1 500 руб',
						 'Дополнительное окно 0,8х0,8 м':'2 000 руб',
						 'Замена одной каркасной или наборной двери на клиновую':'1 800 руб',
						 'Увеличение утепления с 50 до 100 мм':'100 руб 1м2',
						 'Замена пола 27 на 36 мм':'300 руб. 1м2',
						 'Арочный потолок':'3 000 руб',
						 'Замена лаг 40х100 на Усиленные 100х150':'2 000 руб',
						 'Электрика в кабель канале, в цвет дерева':'2 000 руб',
					}
				each linkPatch, linkName in nav
					tr
						td= linkName
						td.text-right: strong= linkPatch
						// класс можешь убрать text-right и вывести через свойства в админкке 

	// end sStandartEquipment