
mixin modal() 
  
	.d-none
		+form-wrap()(id="modal-call" class="  modal-win modal-form" )
			.text-center
				+e.title--js.h3.ttu.strong
				+e.P.text--js
			+input("Ваше имя",'text','Ваше имя')
			+input("Ваш телефон","tel",'Ваш телефон')(required)
			input.btn-primary.btn-3d.btn-block(type="submit" value="") 
			+polite()
		// #modal-call
	// modal