$output-bourbon-deprecation-warnings: false;
// @import "mq";
@import "bourbon/app/assets/stylesheets/bourbon";
// @import "../../node_modules/rfs/scss";

@import "mixin";
// @import "_yellow";
@import "vars";
// @import "fonts";
// @import "../../public/img/svg/_sprite";
@import "bootstrap-theme/bootstrap";
// @import "../libs/animate";
// @import "fontawesome-pro-5.0.8/web-fonts-with-css/scss/fontawesome";
// @import "fontawesome-pro-5.0.8/web-fonts-with-css/scss/fa-brands";
// @import "fontawesome-pro-5.0.8/web-fonts-with-css/scss/fa-regular";
// @import "fontawesome-pro-5.0.8/web-fonts-with-css/scss/fa-solid";
// @import "fontawesome-pro-5.0.8/web-fonts-with-css/scss/fa-light";
// @import "../libs/magnificPopup/magnific-popup.sass";
// @import "../libs/swiper/swiper.min.css";
// @import "../libs/select2-4.0.6-rc.1/dist/css/select2.min";
// @import "../libs/dropzone";
// @import "../libs/gijgo-master/dist/combined/css/gijgo";
// @import "../libs/gijgo-master/dist/combined/css/demo.min";

// @import "../libs/ion.rangeSlider/css/ion.rangeSlider.min.css";

// @import "base";
.invisible {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.catalog  {
	padding-top: rem(5) !important;
}

.top-line {

	@include media-breakpoint-down(xs) {
		.s-chats--whatsupp_h {
			width: 100%;
			justify-content: space-between;
			margin-bottom: 0;
		}

		.s-chats--whatsupp_h a {
			display: flex;
			justify-content: space-between;
			align-items: center;
			width: 100%;
			background-color: #55CD6C;
			margin-left: rem(-7);
			margin-top: rem(10);
			text-decoration: none;
			&:hover{
				background-color: #60E67A;
			}
		}

		.s-chats--whatsupp_h span:nth-child(1) {
			display: block;
			margin: 0 auto;
			font-weight: 700;
		}

		.s-chats__imgWrap {
			display: flex;
			width: rem(60);
			height: rem(40);
			justify-content: center;
			align-items: center;
			background-color: #4DBA62;
			margin-right: rem(-7);
		}

		.s-chats__imgWrap img {
			width: rem(26);
			height: rem(26);
		}
	}


	.s-chats--whatsupp_h a {
		@include media-breakpoint-up(sm) {
			position: fixed;
			bottom: 150px;
			right: 5px;
		}

		@include media-breakpoint-up(xl) {
			right: 25px;
		}
		
	}
	.s-chats--whatsupp_h span:nth-child(1) {
		@include media-breakpoint-up(sm) {
			display: none;
		}
	}
	
	.s-chats--whatsupp_h span:nth-child(1) {
		@include media-breakpoint-down(lg) {
			color: #000;
		}
	}
		
}
.header-block__item{
	display: flex !important;
  flex-direction: column;
	min-height: calc(100% - 20px);
}
.header-block__item-text--title{
	flex-grow: 1;
	display: flex;
	align-items: center;
	justify-content: center;
}

@import '../pug/blocks/sStandartEquipment/_sStandartEquipment.scss';
@import '../pug/blocks/header-block/_header-block.scss';
@import '../pug/blocks/footer/_footer.scss';
@import '../pug/blocks/sShipping/_sShipping.scss';
@import '../pug/blocks/sPhotoVideo/_sPhotoVideo.scss';
@import '../pug/blocks/s-chats/_s-chats.scss';
@import '../pug/blocks/catalog/_catalog.scss';
@import '../pug/blocks/card/_card.scss';

// @import "media"; // Всегда в конце
