mixin s-our-production()
	// start s-our-production
	+b.SECTION.s-our-production.section#s-our-production&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 s-our-production
				
			.row
	// end s-our-production