mixin s-khow-order()
	// start s-how-order
	+b.SECTION.s-how-order.section#s-how-order&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 s-how-order
				
			.row
	// end s-how-order