mixin s-khow-order()
	// start s-how-order
	+b.SECTION.s-how-order.section.bg-body#s-how-order&attributes(attributes)
		.container
			+b.section-title.text-center.ttu
				h2 Как заказать изготовление лестницы?
				
			.row
				mixin item(i,t,t2)
					+e.col.col-lg-4.col-sm-6
						+e.item
							+pic(`s-how-${i}.png`,'bg','lazy',0)
							+e.title= t
							+e.title2= t2
							block
					// /+e.col.col-lg-4.col-sm-6
				+item("1",'ВЫЗОВИТЕ ЗАМЕРЩИКА','это бесплатно')
					p Замерщик приедет в&nbsp;удобное для Вас время, в&nbsp;будни или выходные. Опишите все Ваши пожелания, мы&nbsp;учтем их&nbsp;при разработке лестницы. Заказать замер можно позвонив по&nbsp;номеру&nbsp;+7 (351) 751-21-56
				
				+item("2",'СОЗДАЕМ 3D-МАКЕТ','это бесплатно')
					p Мы&nbsp;создадим эскиз Вашей лестницы с&nbsp;учетом Ваших индивидуальных размеров и&nbsp;пожеланий. Посмотрите на&nbsp;эскизы, если Вас всё устраивает делаем чертеж и&nbsp;заключаем договор.
				
				+item("3",'ЗАКЛЮЧАЕМ ДОГОВОР','предоплата на материалы')
					p Договор можем заключить либо у&nbsp;нас в&nbsp;офисе, либо к&nbsp;Вам приедет курьер с&nbsp;оригиналом. Так&nbsp;же можем обменяться электронными вариантами (обмен оригиналами при доставке).
				
				+item("4",'ИЗГОТАВЛИВАЕМ ЛЕСТНИЦУ','срок от 1 дня')
					p Изготавливаем Вашу лестницу на&nbsp;производстве, она будет готова в&nbsp;течение 4-7&nbsp;дней.
				
				+item("5",'ДОСТАВЛЯЕМ И СОБИРАЕМ','срок от 1 дня')
					p Доставка осуществляется в&nbsp;удобный для Вас день, сборка осуществляется в&nbsp;день монтажа.
				
				+item("6",'ПОДПИСЫВАЕМ АКТ ПРИЕМА-ПЕРЕДАЧИ','это бесплатно')
					p После завершения сборки подписывается акт приема-передачи и&nbsp;производится окончательная оплата по&nbsp;договору.
				
	// end s-how-order