mixin s-price()
	// start s-price
	+b.SECTION.s-price.section#s-price&attributes(attributes)
		.container 
			+b.section-title.text-center.ttu
				h2 Стоимость
			.row
				mixin tr(t1,t2,t3)
					tr
						td= t1
						td
							.text-center= t2
						td
							.text-right= t3
				.col-lg-6
					+e.table-wrap
						table
							tr
								th(colspan="3") По типу материала
							+tr("Навес из поликарбоната",'м2','от 2 600 руб.')
							+tr("Навес из профнастила",'м2','от 2 600 руб.')
							+tr("Навес из черепицы",'м2','от 2 800 руб.')
							+tr("Навес с мягкой кровли",'м2','от 2 900 руб.') 
						table
							tr
								th(colspan="3") По месту назначения
							+tr("Навес для автомобиля",'м2','от 2 800 руб.')
							+tr("Навес над крыльцом",'м2','от 5 000 руб.')
							+tr("Навес для террасы",'м2','от 2 800 руб.')
							+tr("Навес для беседки",'м2','от 2 800 руб.')
							+tr("Навес для мангала",'м2','от 5 000 руб.')
							+tr("Навес для барбекю",'м2','от 2 800 руб.')
							+tr("Навес над калиткой",'м2','от 5 000 руб.')
							+tr("Навес для бассейна",'м2','от 2 800 руб.')
							+tr("Качели с навесом",'м2','от 10 000 руб.')
							+tr('Навесы на ворота','м2','от 2 600 руб.') 
							+tr("Навес на дачу",'м2','от 2 800 руб.')
							+tr("Навес к дому",'м2','от 2 800 руб.')
						
						table
							tr
								th(colspan="3") По форме
							+tr("Односкатный навес",'м2','от 2 600 руб.')
							+tr("Двускатный навес",'м2','от 2 800 руб.')
							+tr("Треугольный навес",'м2','от 2 800 руб.')
							+tr("Сферический навес",'м2','от 3 000 руб.')
						
						table
							tr
								th(colspan="3") Отдельные группы
							+tr("Беседки",'шт.','от 12 190 руб.')
							+tr("Мангалы с крышей",'шт.','от 10 000 руб.')
							+tr("Козырек над крыльцом",'шт.','от 5 000 руб.')
							+tr("Усиленные навесы",'м2','от 5 000 руб.')
							+tr("Монтаж навесов",'м2','от 250 руб.')
 
				.col-lg-6
					+e.table-wrap
						table
							tr
								th(colspan="3") Беседки из поликарбоната
							+tr("Беседка 3х3",'м','от 25 200 руб.')
							+tr("Беседка 4х4",'м','от 44 800 руб.')
							+tr("Беседка 5х5",'м','от 70 000 руб.')
							+tr("Беседка 6х6",'м','от 99 800 руб.') 
						table
							tr
								th(colspan="3") Навесы для авто
							+tr("Навес для авто 4х5,5",'м','от 33 700 руб.')
							+tr("Навес для авто 3х6",'м','от 39 200 руб.')
							+tr("Навес для авто 4х4",'м','от 44 800 руб.')
							+tr("Навес для авто 4х5",'м','от 56 000 руб.')
							+tr("Навес для авто 3х4",'м','от 84 000 руб.')
							+tr("Навес для авто 3,5х4",'м','от 61 600 руб.')
							+tr("Навес для 2 авто 6х5",'м','от 50 400 руб.')
							+tr("Навес для авто 4х6",'м','от 67 200 руб.')
							+tr("Навес для 2 авто 3х8,2",'м','от 68 880 руб.')
							+tr("Навес для 2 авто 4х8,2",'м','от 91 840 руб.')
							+tr("Навес для 2 авто 5х8,2",'м','от 114 800 руб.')
							+tr("Навес для 2 авто 5,5х8,2",'м','от 126 280 руб.') 
				 
						table
							tr
								th(colspan="3") Козырьки для дверей
							+tr("Козырек 3х4",'м','от 22 400 руб.')
							+tr("Козырек 4х2",'м','от 21 120 руб.')
							+tr("Козырек 2х2",'м','от 16 200 руб.')
							+tr("Козырек 2х3",'м','от 33 600 руб.') 
				 
						table
							tr
								th(colspan="3") Для мангала и барбекю
							+tr("Для мангала 2х1",'м','от 22 400 руб.')
							+tr("Для мангала 3х1",'м','от 39 200 руб.')
							+tr("Для барбекю 5х2",'м','от 5 600 руб.')
							+tr("Для барбекю 4х2",'м','от 8 400 руб.')
							+tr("Для барбекю 7х2",'м','от 28 000 руб.') 
	// end s-price

mixin s-price-canopy()
	// start s-price-canopy
	+b.SECTION.s-price-canopy.section&attributes(attributes)
		.container 
			+b.section-title--sm.text-center
				h2 ПРАЙС-ЛИСТ
				+e.text--lg Прайс-лист навесов и&nbsp;дополнительных услуг
				+e.text--md Мы&nbsp;изготавливаем и&nbsp;монтируем навесы <br/> любой длины и&nbsp;ширины. Минимальная сумма заказа #[b.bg-primary 50&nbsp;000&nbsp;₽]
				+e.text--sm Стоимость типовых навесов из&nbsp;сотового поликарбоната с&nbsp;монтажем
		.container
			+e.items
				mixin item(t)
					+e.item.price__item--js
						+e.header
							h6!= t
						+e.content.price__content--js
							block

				mixin line(t, v)
					+e.line
						.row
							.col-8.col-lg-9
								+e.text!= t
							.col-4.col-lg-3
								+e.value.text-right!= v
								
				+item(`Навесы длиной 4&nbsp;метра Навесы длиной 4&nbsp;метра`)
					+line(`Забор профлист &laquo;МеталлПрофиль&raquo; высота 1,8&nbsp;м под ключ со&nbsp;столбами`, `1680&nbsp;₽/мп`)
					+line(`Забор профлист высота 1,8&nbsp;м под ключ на&nbsp;установленные столбы заказчика`, `1500&nbsp;₽/мп`)
					+line(`Демонтаж рабицы`, `120&nbsp;₽/мп`)
					+line(`Если бутование песчаного-гравийной смесью это дополнительно 450 рублей столб`, `От&nbsp;3000 до&nbsp;4000&nbsp;р. за&nbsp;м2`)
				+item(`Навесы длиной 5&nbsp;метров`)
					+line(`Забор профлист &laquo;МеталлПрофиль&raquo; высота 1,8&nbsp;м под ключ со&nbsp;столбами`, `1680&nbsp;₽/мп`)
					+line(`Забор профлист высота 1,8&nbsp;м под ключ на&nbsp;установленные столбы заказчика`, `1500&nbsp;₽/мп`)
					+line(`Демонтаж рабицы`, `120&nbsp;₽/мп`)
					+line(`Если бутование песчаного-гравийной смесью это дополнительно 450 рублей столб`, `От&nbsp;3000 до&nbsp;4000&nbsp;р. за&nbsp;м2`)
				+item(`Навесы длиной до&nbsp;6&nbsp;метров`)
					+line(`Забор профлист &laquo;МеталлПрофиль&raquo; высота 1,8&nbsp;м под ключ со&nbsp;столбами`, `1680&nbsp;₽/мп`)
					+line(`Забор профлист высота 1,8&nbsp;м под ключ на&nbsp;установленные столбы заказчика`, `1500&nbsp;₽/мп`)
					+line(`Демонтаж рабицы`, `120&nbsp;₽/мп`)
					+line(`Если бутование песчаного-гравийной смесью это дополнительно 450 рублей столб`, `От&nbsp;3000 до&nbsp;4000&nbsp;р. за&nbsp;м2`)
				+item(`Навесы длиной 8&nbsp;метров`)
					+line(`Забор профлист &laquo;МеталлПрофиль&raquo; высота 1,8&nbsp;м под ключ со&nbsp;столбами`, `1680&nbsp;₽/мп`)
					+line(`Забор профлист высота 1,8&nbsp;м под ключ на&nbsp;установленные столбы заказчика`, `1500&nbsp;₽/мп`)
					+line(`Демонтаж рабицы`, `120&nbsp;₽/мп`)
					+line(`Если бутование песчаного-гравийной смесью это дополнительно 450 рублей столб`, `От&nbsp;3000 до&nbsp;4000&nbsp;р. за&nbsp;м2`)
				+item(`Дополнительные услуги`)
					+line(`Забор профлист &laquo;МеталлПрофиль&raquo; высота 1,8&nbsp;м под ключ со&nbsp;столбами`, `1680&nbsp;₽/мп`)
					+line(`Забор профлист высота 1,8&nbsp;м под ключ на&nbsp;установленные столбы заказчика`, `1500&nbsp;₽/мп`)
					+line(`Демонтаж рабицы`, `120&nbsp;₽/мп`)
					+line(`Если бутование песчаного-гравийной смесью это дополнительно 450 рублей столб`, `От&nbsp;3000 до&nbsp;4000&nbsp;р. за&nbsp;м2`)
				+item(`Нестандартная высота`)
					+line(`Забор профлист &laquo;МеталлПрофиль&raquo; высота 1,8&nbsp;м под ключ со&nbsp;столбами`, `1680&nbsp;₽/мп`)
					+line(`Забор профлист высота 1,8&nbsp;м под ключ на&nbsp;установленные столбы заказчика`, `1500&nbsp;₽/мп`)
					+line(`Демонтаж рабицы`, `120&nbsp;₽/мп`)
					+line(`Если бутование песчаного-гравийной смесью это дополнительно 450 рублей столб`, `От&nbsp;3000 до&nbsp;4000&nbsp;р. за&nbsp;м2`)
				+item(`Кровля`)
					+line(`Забор профлист &laquo;МеталлПрофиль&raquo; высота 1,8&nbsp;м под ключ со&nbsp;столбами`, `1680&nbsp;₽/мп`)
					+line(`Забор профлист высота 1,8&nbsp;м под ключ на&nbsp;установленные столбы заказчика`, `1500&nbsp;₽/мп`)
					+line(`Демонтаж рабицы`, `120&nbsp;₽/мп`)
					+line(`Если бутование песчаного-гравийной смесью это дополнительно 450 рублей столб`, `От&nbsp;3000 до&nbsp;4000&nbsp;р. за&nbsp;м2`)
				+item(`Крепление к&nbsp;земле, столбы`)
					+line(`Забор профлист &laquo;МеталлПрофиль&raquo; высота 1,8&nbsp;м под ключ со&nbsp;столбами`, `1680&nbsp;₽/мп`)
					+line(`Забор профлист высота 1,8&nbsp;м под ключ на&nbsp;установленные столбы заказчика`, `1500&nbsp;₽/мп`)
					+line(`Демонтаж рабицы`, `120&nbsp;₽/мп`)
					+line(`Если бутование песчаного-гравийной смесью это дополнительно 450 рублей столб`, `От&nbsp;3000 до&nbsp;4000&nbsp;р. за&nbsp;м2`)
				+item(`Заборы`)
					+line(`Забор профлист &laquo;МеталлПрофиль&raquo; высота 1,8&nbsp;м под ключ со&nbsp;столбами`, `1680&nbsp;₽/мп`)
					+line(`Забор профлист высота 1,8&nbsp;м под ключ на&nbsp;установленные столбы заказчика`, `1500&nbsp;₽/мп`)
					+line(`Демонтаж рабицы`, `120&nbsp;₽/мп`)
					+line(`Если бутование песчаного-гравийной смесью это дополнительно 450 рублей столб`, `От&nbsp;3000 до&nbsp;4000&nbsp;р. за&nbsp;м2`)
				+item(`Секционные ворота`)
					+line(`Забор профлист &laquo;МеталлПрофиль&raquo; высота 1,8&nbsp;м под ключ со&nbsp;столбами`, `1680&nbsp;₽/мп`)
					+line(`Забор профлист высота 1,8&nbsp;м под ключ на&nbsp;установленные столбы заказчика`, `1500&nbsp;₽/мп`)
					+line(`Демонтаж рабицы`, `120&nbsp;₽/мп`)
					+line(`Если бутование песчаного-гравийной смесью это дополнительно 450 рублей столб`, `От&nbsp;3000 до&nbsp;4000&nbsp;р. за&nbsp;м2`)
				+item(`Навесы длиной 4&nbsp;метра`)
					+line(`Забор профлист &laquo;МеталлПрофиль&raquo; высота 1,8&nbsp;м под ключ со&nbsp;столбами`, `1680&nbsp;₽/мп`)
					+line(`Забор профлист высота 1,8&nbsp;м под ключ на&nbsp;установленные столбы заказчика`, `1500&nbsp;₽/мп`)
					+line(`Демонтаж рабицы`, `120&nbsp;₽/мп`)
					+line(`Если бутование песчаного-гравийной смесью это дополнительно 450 рублей столб`, `От&nbsp;3000 до&nbsp;4000&nbsp;р. за&nbsp;м2`)
				+item(`Откатные ворота`)
					+line(`Забор профлист &laquo;МеталлПрофиль&raquo; высота 1,8&nbsp;м под ключ со&nbsp;столбами`, `1680&nbsp;₽/мп`)
					+line(`Забор профлист высота 1,8&nbsp;м под ключ на&nbsp;установленные столбы заказчика`, `1500&nbsp;₽/мп`)
					+line(`Демонтаж рабицы`, `120&nbsp;₽/мп`)
					+line(`Если бутование песчаного-гравийной смесью это дополнительно 450 рублей столб`,	`От&nbsp;3000 до&nbsp;4000&nbsp;р. за&nbsp;м2`)
			+e.footer.text-center.text-md-right
				+e.btn.btn-primary--download(href="#") Cкачать прайс-лист
					+icon('arrow-download')
	// end s-price