mixin sShipping()
	// start sShipping
	+b.SECTION.sShipping.section#sShipping&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 Доставка 
				
			.row
				.col-md-4
					.h6.mb-3 Стоимость доставки от нашего производства в г. Пестово Новгородской области + 500 км 
					.h5.strong.mb-0 10 000 ₽
					p.mb-3 Далее +45 ₽ , за каждый км пути
					.h6 Стоимость выгрузки  <br> автокраном
					.h5.strong 8 000 ₽
				.col-md-8
					+e.map-wrap
						<script  defer src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A85a146c8e6a2ac7955ce97953ec90397b21c350fb3063910efe3dcd76227180c&amp;width=100%25&amp;height=517&amp;lang=ru_RU&amp;scroll=false"></script>
				.col-md-8
					img(src="img/@2x/shiping.jpg" loading="lazy", alt="")
				.col-md-4.align-self-center
					.h5.strong.ttu Возможна 
						br
						| перевозка 
						br
						| вездеходом 
					.h6 Рассчитывается индивидуально исходя из условий местности
	// end sShipping