
mixin s-examples()
	// start s-examples
	+b.SECTION.s-examples.section#s-examples&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 Примеры стоимости "под ключ" типовых лестниц
				
			+b.tabs
				+e.caption
					+e.btn.active НА&nbsp;МЕТАЛЛОКАРКАСЕ
					+e.btn ДЕРЕВЯННЫЕ
					+e.btn Бетонные
				+e.wrap
					mixin cont()
						+e.content&attributes(attributes)
							+e.row.row
								- for (var x = 0; x < 6; x++)
									.col-prod.col-lg-4.col-md-6
										+prod
					+cont()(class="active")
					+cont()
					+cont()
	// end s-examples