mixin s-not-know()
	// start s-not-know
	+b.SECTION.s-not-know.section.bg-body.lazy-background#s-not-know&attributes(attributes)
		.container
			.row
				.col-xl-7.col-lg-6
					+b.section-title
						h2.ttu Не&nbsp;знаете какая  лестница Вам нужна?
						.h6.text-white Мы&nbsp;можем отправить к&nbsp;Вам замерщика, который снимет все размеры и&nbsp;предложит конструкцию лестницы, подходящую именно Вам. 
							.strong Выезд замерщика БЕСПЛАТНО!
				.col
					+form-wrap
						+e.top-title Вызовите замерщика 
						+e.top-text.text-center.small Подберем для Вас все параметры лестницы и&nbsp;бесплатно посчитаем смету
						+input-lg('+_(___)___-__-__','tel','Ваш телефон:') 
						+e.btn.btn-3d.btn-primary.btn-block(type="submit") Вызвать замерщика
						+polite()
			+e.title При расчете лестницы учитываем:
			+e.row.row
				mixin item(i,t)
					+e.col.col-lg.col-md-4.col-sm-6
						+e.item
							+e.img-wrap
								img.res-i.lazy(src="#" data-src=`img/svg/s-not-know-${i}.svg`, alt="")
							if t
								+e.item-title=t
							else
								block
				+item("1",'Цвет лестницы')
				+item("2",'Форму и размер лестницы')
				+item("3")
					+e.item-title Кол-во ступеней и&nbsp;маршей
				+item("4",'')
					+e.item-title Материал и&nbsp;нагрузки
				+item("5",'Посчитаем точную смету')
	// end s-not-know

mixin s-not-know2()
	// start s-not-know
	+b.SECTION.s-not-know2.bg-body#s-not-know&attributes(attributes)
		.container
			.row
				.col-lg-6
				.col-lg-6
					+b.form-wrap
						+b.section-title--sm
							h2 НЕ&nbsp;ЗНАЕТЕ #[br.d-none.d-lg-block]КАКОЙ #[br.d-md-none] НАВЕС ВЫБРАТЬ?#[br] #[span.text-primary МЫ&nbsp;ПОМОЖЕМ!]
						+e.text Мы&nbsp;направим к&nbsp;вам замерщика, который снимет все размеры и&nbsp;предложит конструкцию навеса, подходящую именно вам.
						.row
							.col-lg-12.col-md-6
								.row.row--sm
									.col-lg
										+e.INPUT.input(type='tel' placeholder='+7___ ___ __ __' name='tel')
									.col-lg-auto.text-center.text-md-left
										+e.btn.btn-primary(type="submit") Вызвать замерщика
								+b.polite-canopy
									+b.LABEL.custom-input-2
										+e.INPUT.input(type="checkbox" checked)
										+e.SPAN.label
										+e.SPAN.text Я согласен(а) с условиями передачи информации
								+e.free.text-primary Выезд замерщика&nbsp;&minus; БЕСПЛАТЕН!
							.col-lg-12.col-md-6.order-md-first
								+e.img-wrap
									img(src="img/@2x/s-not-know-1.png", alt="")
	// end s-not-know