mixin s-not-know()
	// start s-not-know
	+b.SECTION.s-not-know.section.bg-body.lazy-background#s-not-know&attributes(attributes)
		.container
			.row
				.col-xl-7.col-lg-6
					+b.section-title
						h2.ttu Не&nbsp;знаете какая  лестница Вам нужна?
						.h6.text-white Мы&nbsp;можем отправить к&nbsp;Вам замерщика, который снимет все размеры и&nbsp;предложит конструкцию лестницы, подходящую именно Вам. 
							.strong Выезд замерщика БЕСПЛАТНО!
				.col
					+form-wrap
						+e.top-title Вызовите замерщика 
						+e.top-text.text-center.small Подберем для Вас все параметры лестницы и&nbsp;бесплатно посчитаем смету
						+input-lg('+7( ___ )___-__-__','tel','Ваш телефон:') 
						+e.btn.btn-3d.btn-primary.btn-block(type="submit") Получить проект и и расчет
						+polite()
			+e.title При расчете лестницы учитываем:
			+e.row.row
				mixin item(i,t)
					+e.col.col-lg.col-md-4.col-sm-6
						+e.item
							+e.img-wrap
								img.res-i(src=`img/svg/s-not-know-${i}.svg`, alt="")
							+e.item-title=t
				+item("1",'Цвет лестницы')
				+item("2",'Форму и размер лестницы')
				+item("3",'Кол-во ступеней и маршей')
				+item("4",'Материал и нагрузки')
				+item("5",'Посчитаем точную смету')
	// end s-not-know