extends layout/main.pug
block variables
	- let  mainPage= null
block title
	- let  title= 'Каталог'
	title= title


//- include ../blocks/s-content/_s-content.pug
//- include ../blocks/s-contact/_s-contact.pug
//- include ../blocks/s-production/_s-production.pug
//- include ../blocks/s-materials/_s-materials.pug
//- include ../blocks/s-3d-maket/_s-3d-maket.pug
//- include ../blocks/s-cases/_s-cases.pug
//- include ../blocks/s-examples/_s-examples.pug
//- include ../blocks/s-stocks/_s-stocks.pug
//- include ../blocks/s-advantages/_s-advantages.pug
//- include ../blocks/s-our-production/_s-our-production.pug
//- include ../blocks/s-chats/_s-chats.pug
//- include ../blocks/s-type-of-materials/_s-type-of-materials.pug
//- include ../blocks/s-khow-order/_s-khow-order.pug
//- include ../blocks/s-rews/_s-rews.pug
//- include ../blocks/s-sert/_s-sert.pug
//- include ../blocks/s-price/_s-price.pug
//- include ../blocks/s-calc/_s-calc.pug
//- include ../blocks/s-popular/_s-popular.pug
//- include ../blocks/sCases/_sCases.pug
//- include ../blocks/sAbout/_sAbout.pug
//- include ../blocks/sSliderGal/_sSliderGal.pug
//- include ../blocks/sSteps/_sSteps.pug
include ../blocks/s-not-know/_s-not-know.pug
include ../blocks/sCatalog/_sCatalog.pug

block pagecontent

	+mob-mnu()
	+header().header--fixed
		+top-line-canopy()
		+top-nav()
	+header().header--base
		+top-line-canopy()
		+top-nav()
	//- +header-block-canopy()
	//- +s-popular()
	//- +s-calc2
	//- +s-calc3
	//- +s-calc4
	+sCatalog
	+s-not-know3
	//- +sCases
	//- +s-cases
	//- +s-price-canopy()
	//- +sAbout
	//- +sSliderGal

	//- +s-production-canopy()
	//- +s-production
	//- +s-materials
	//- +s-3d-maket
	//- +s-examples
	//- +s-stocks
	//- +s-advantages
	//- +s-our-production
	//- +s-chats
	//- +s-type-of-materials
	//- +s-khow-order
	//- +s-rews
	//- +s-sert-canopy()
	//- +sSteps
	//- +s-contact()
	//- +footer()

