extends layout/main.pug
block variables
	- let  mainPage= null
block title
	- let  title= 'Главная'
	title= title


include ../blocks/s-content/_s-content.pug
include ../blocks/s-contact/_s-contact.pug
include ../blocks/s-production/_s-production.pug
include ../blocks/s-not-know/_s-not-know.pug
include ../blocks/s-materials/_s-materials.pug
include ../blocks/s-3d-maket/_s-3d-maket.pug
include ../blocks/s-cases/_s-cases.pug
include ../blocks/s-examples/_s-examples.pug
include ../blocks/s-stocks/_s-stocks.pug
include ../blocks/s-advantages/_s-advantages.pug
include ../blocks/s-our-production/_s-our-production.pug
include ../blocks/s-chats/_s-chats.pug
include ../blocks/s-type-of-materials/_s-type-of-materials.pug
include ../blocks/s-khow-order/_s-khow-order.pug
include ../blocks/s-rews/_s-rews.pug
include ../blocks/s-sert/_s-sert.pug
include ../blocks/s-price/_s-price.pug
include ../blocks/s-calc/_s-calc.pug
include ../blocks/sStandartEquipment/_sStandartEquipment.pug
include ../blocks/sShipping/_sShipping.pug
include ../blocks/sPhotoVideo/_sPhotoVideo.pug

block pagecontent
 
	+mob-mnu()
	+header()
		+top-line()
		+top-nav()
	//- +sStandartEquipment
	+header-block-8()
	+sPhotoVideo()
	//- +s-our-production
	//- +s-price
	//- +s-calc
	//- +s-production
	//- +s-not-know
	//- +s-materials
	//- +s-3d-maket
	//- +s-cases
	//- +s-examples
	//- +s-stocks
	//- +s-advantages
	+s-chats-2
	//- +s-type-of-materials
	//- +s-khow-order
	//- +s-rews
	//- +s-sert
	//- +sShipping
	//- +s-contact()
	+footer-otherForm()

