mixin sContent()
	// start sContent
	+b.SECTION.sContent.section#sContent&attributes(attributes)
		+b.article-head
			+b.social
				+e.item 
					+icon(`eye`)
					+e.SPAN.count 231
				+e.item 
					+icon(`conversation`)
					+e.SPAN.count 5
			+e.date 02.03.2021
		h1 Навесы из поликарбоната
		+e.img-wrap
			img.res-i(src=`img/@2x/article-1.jpg`, alt="")
		p Навесы из&nbsp;поликарбоната&nbsp;&mdash; компактные многопрофильные быстровозводимые строения. Легкая и&nbsp;прочная конструкция укроет в&nbsp;непогоду, создаст уют и&nbsp;позволит не&nbsp;беспокоиться за&nbsp;садовый инвентарь или автомобиль. Правильно, если строительство дома и&nbsp;покупка навеса ведется параллельно. Так, вы&nbsp;можете купить навес из&nbsp;поликарбоната и&nbsp;гармонично вписать его в&nbsp;архитектонику участка, выбрав место, конфигурацию и&nbsp;материалы. Однако, не&nbsp;переживайте, если дом построен. Сотрудники компании &laquo;СтальКомплект&raquo; приедут на&nbsp;место, оценят ситуацию, выполнят замеры, предложат подходящие варианты дизайна и&nbsp;обсудят специфику монтажа.
		figure.alignleft
			img(loading='lazy' src='img/@2x/content-1.jpg' alt='')
		p Навесы из&nbsp;поликарбоната&nbsp;&mdash; компактные многопрофильные быстровозводимые строения. Легкая и&nbsp;прочная конструкция укроет в&nbsp;непогоду, создаст уют и&nbsp;позволит не&nbsp;беспокоиться за&nbsp;садовый инвентарь или автомобиль. Правильно, если строительство дома и&nbsp;покупка навеса ведется параллельно. Так, вы&nbsp;можете купить навес из&nbsp;поликарбоната и&nbsp;гармонично вписать его в&nbsp;архитектонику участка, выбрав место, конфигурацию и&nbsp;материалы. Однако, не&nbsp;переживайте, если дом построен. Сотрудники компании &laquo;СтальКомплект&raquo; приедут на&nbsp;место, оценят ситуацию, выполнят замеры, предложат подходящие варианты дизайна и&nbsp;обсудят специфику монтажа.
		figure.alignright
			img(loading='lazy' src='img/@2x/content-2.jpg' alt='')
		p Навесы из&nbsp;поликарбоната&nbsp;&mdash; компактные многопрофильные быстровозводимые строения. Легкая и&nbsp;прочная конструкция укроет в&nbsp;непогоду, создаст уют и&nbsp;позволит не&nbsp;беспокоиться за&nbsp;садовый инвентарь или автомобиль. Правильно, если строительство дома и&nbsp;покупка навеса ведется параллельно. Так, вы&nbsp;можете купить навес из&nbsp;поликарбоната и&nbsp;гармонично вписать его в&nbsp;архитектонику участка, выбрав место,
		p Навесы из&nbsp;поликарбоната&nbsp;&mdash; компактные многопрофильные быстровозводимые строения. Легкая и&nbsp;прочная конструкция укроет в&nbsp;непогоду, создаст уют и&nbsp;позволит не&nbsp;беспокоиться за&nbsp;садовый инвентарь или автомобиль. Правильно, если строительство дома и&nbsp;покупка навеса ведется параллельно. Так, вы&nbsp;можете купить навес из&nbsp;поликарбоната и&nbsp;гармонично вписать его в&nbsp;архитектонику участка, выбрав место,
		figure
			img(loading='lazy' src='img/@2x/content-3.jpg' alt='')
		p Навесы из&nbsp;поликарбоната&nbsp;&mdash; компактные многопрофильные быстровозводимые строения. Легкая и&nbsp;прочная конструкция укроет в&nbsp;непогоду, создаст уют и&nbsp;позволит не&nbsp;беспокоиться за&nbsp;садовый инвентарь или автомобиль. Правильно, если строительство дома и&nbsp;покупка навеса ведется параллельно. Так, вы&nbsp;можете купить навес из&nbsp;поликарбоната и&nbsp;гармонично вписать его в&nbsp;архитектонику участка, выбрав место, конфигурацию и&nbsp;материалы. Однако, не&nbsp;переживайте, если дом построен. Сотрудники компании &laquo;СтальКомплект&raquo; приедут на&nbsp;место, оценят ситуацию, выполнят замеры, предложат подходящие варианты дизайна и&nbsp;обсудят специфику монтажа.
		h2 Навесы из поликарбоната
		p Навесы из&nbsp;поликарбоната&nbsp;&mdash; компактные многопрофильные быстровозводимые строения. Легкая и&nbsp;прочная конструкция укроет в&nbsp;непогоду, создаст уют и&nbsp;позволит не&nbsp;беспокоиться за&nbsp;садовый инвентарь или автомобиль. Правильно, если строительство дома и&nbsp;покупка навеса ведется параллельно. Так, вы&nbsp;можете купить навес из&nbsp;поликарбоната и&nbsp;гармонично вписать его в&nbsp;архитектонику участка, выбрав место, конфигурацию и&nbsp;материалы. Однако, не&nbsp;переживайте, если дом построен. Сотрудники компании &laquo;СтальКомплект&raquo; приедут на&nbsp;место, оценят ситуацию, выполнят замеры, предложат подходящие варианты дизайна и&nbsp;обсудят специфику монтажа.
		h3 Навесы из поликарбоната
		p Навесы из&nbsp;поликарбоната&nbsp;&mdash; компактные многопрофильные быстровозводимые строения. Легкая и&nbsp;прочная конструкция укроет в&nbsp;непогоду, создаст уют и&nbsp;позволит не&nbsp;беспокоиться за&nbsp;садовый инвентарь или автомобиль. Правильно, если строительство дома и&nbsp;покупка навеса ведется параллельно. Так, вы&nbsp;можете купить навес из&nbsp;поликарбоната и&nbsp;гармонично вписать его в&nbsp;архитектонику участка, выбрав место, конфигурацию и&nbsp;материалы. Однако, не&nbsp;переживайте, если дом построен. Сотрудники компании &laquo;СтальКомплект&raquo; приедут на&nbsp;место, оценят ситуацию, выполнят замеры, предложат подходящие варианты дизайна и&nbsp;обсудят специфику монтажа.
		h4 Навесы из поликарбоната
		p Навесы из&nbsp;поликарбоната&nbsp;&mdash; компактные многопрофильные быстровозводимые строения. Легкая и&nbsp;прочная конструкция укроет в&nbsp;непогоду, создаст уют и&nbsp;позволит не&nbsp;беспокоиться за&nbsp;садовый инвентарь или автомобиль. Правильно, если строительство дома и&nbsp;покупка навеса ведется параллельно. Так, вы&nbsp;можете купить навес из&nbsp;поликарбоната и&nbsp;гармонично вписать его в&nbsp;архитектонику участка, выбрав место, конфигурацию и&nbsp;материалы. Однако, не&nbsp;переживайте, если дом построен. Сотрудники компании &laquo;СтальКомплект&raquo; приедут на&nbsp;место, оценят ситуацию, выполнят замеры, предложат подходящие варианты дизайна и&nbsp;обсудят специфику монтажа.
		blockquote Навесы из&nbsp;поликарбоната&nbsp;&mdash; компактные многопрофильные быстровозводимые строения. Легкая и&nbsp;прочная конструкция укроет в&nbsp;непогоду, создаст уют и&nbsp;позволит не беспокоиться за&nbsp;садовый инвентарь или автомобиль. Правильно, если строительство
		ul
			li.strong Пункт
			li Пункт
			li.strong Пункт
		p Навесы из&nbsp;поликарбоната&nbsp;&mdash; компактные многопрофильные быстровозводимые строения. Легкая и&nbsp;прочная конструкция укроет в&nbsp;непогоду, создаст уют и&nbsp;позволит не&nbsp;беспокоиться за&nbsp;садовый инвентарь или автомобиль. Правильно, если строительство дома и&nbsp;покупка навеса ведется параллельно. Так, вы&nbsp;можете купить навес из&nbsp;поликарбоната и&nbsp;гармонично вписать его в&nbsp;архитектонику участка, выбрав место, конфигурацию и&nbsp;материалы. Однако, не&nbsp;переживайте, если дом построен. Сотрудники компании &laquo;СтальКомплект&raquo; приедут на&nbsp;место, оценят ситуацию, выполнят замеры, предложат подходящие варианты дизайна и&nbsp;обсудят специфику монтажа.
		+b.comments
			+e.heading
				+e.title Добавить комментарий
					+e.warning Ваш адрес email не&nbsp;будет опубликован. Обязательные поля помечены #[span.danger *]
				+e.share
					span Поделиться:
					+soc2
			+form-wrap
				.row
					.col
						+e.TEXTAREA.input(placeholder='Ваш комментарий' name='comment')
					.col-md-auto
						+e.INPUT.input(type='email' placeholder='E-mail*' name='email' required)
						+e.INPUT.input(type='text' placeholder='Имя*' name='name' required)
						+b.polite-canopy
							+b.LABEL.custom-input-2
								+e.INPUT.input(type="checkbox" checked)
								+e.SPAN.label
								+e.SPAN.text Я согласен(а) с условиями передачи информации
						+e.btn.btn-primary(type="submit") отправить комментарий
		+b.questions
			+e.content
				span Остались вопросы?
				span Задай их&nbsp;в&nbsp;whatsapp!
			+e.btn.btn.btn-body2(href='#') задать вопрос в&nbsp;WhatsApp
		+b.similar-articles
			+e.main-title похожие статьи:
			- for (var x = 1; x <= 4; x++)
				+e.link(href='#')
					+e.title Навесы из поликарбоната
					+b.social
						+e.item 
							+icon(`eye`)
							+e.SPAN.count 231
						+e.item 
							+icon(`conversation`)
							+e.SPAN.count 5
		+b.plan.bg-body
			.row
				.col-12.col-lg-6.order-last.order-lg-first
					+e.img-wrap
						img(src="img/@2x/plan-1.png", alt="")
				.col-12.col-lg-6
					+e.content
						+e.title #[span.text-primary Планируете] строительство навеса?
						+e.text Оставьте ваш номер телефона, вам перезвонит наш менеджер и проконсультирует вас.
						+form-wrap
							.row
								.col-12.col-sm-6.col-lg-12
									+e.INPUT.input(type='text' placeholder='Имя' name='name' required)
								.col-12.col-sm-6.col-lg-12
									+e.INPUT.input(type='tel' placeholder='+7 ___ ___ __ __' name='tel' required)
							.row
								.col-12.col-sm-6.col-lg-12
									+e.btn.btn-primary(type="submit") отправить
								.col-12.col-sm-6.col-lg-12
									+b.polite-canopy
										+b.LABEL.custom-input-2
											+e.INPUT.input(type="checkbox" checked)
											+e.SPAN.label
											+e.SPAN.text Я согласен(а) с условиями передачи информации
	// end sContent