mixin sContent()
	// start sContent
	+b.SECTION.sContent.section#sContent&attributes(attributes)
		+b.article-head
			+e.social
				+e.item 
					+icon(`eye`)
					+e.SPAN.count 231
				+e.item 
					+icon(`conversation`)
					+e.SPAN.count 5
			+e.date 02.03.2021
		h1 Навесы из поликарбоната
		+e.img-wrap
			img.res-i(src=`img/@2x/article-1.jpg`, alt="")
		p Навесы из&nbsp;поликарбоната&nbsp;&mdash; компактные многопрофильные быстровозводимые строения. Легкая и&nbsp;прочная конструкция укроет в&nbsp;непогоду, создаст уют и&nbsp;позволит не&nbsp;беспокоиться за&nbsp;садовый инвентарь или автомобиль. Правильно, если строительство дома и&nbsp;покупка навеса ведется параллельно. Так, вы&nbsp;можете купить навес из&nbsp;поликарбоната и&nbsp;гармонично вписать его в&nbsp;архитектонику участка, выбрав место, конфигурацию и&nbsp;материалы. Однако, не&nbsp;переживайте, если дом построен. Сотрудники компании &laquo;СтальКомплект&raquo; приедут на&nbsp;место, оценят ситуацию, выполнят замеры, предложат подходящие варианты дизайна и&nbsp;обсудят специфику монтажа.
		figure.alignleft.size-small
			img(loading='lazy' src='img/@2x/content-1.jpg' alt='')
		p Навесы из&nbsp;поликарбоната&nbsp;&mdash; компактные многопрофильные быстровозводимые строения. Легкая и&nbsp;прочная конструкция укроет в&nbsp;непогоду, создаст уют и&nbsp;позволит не&nbsp;беспокоиться за&nbsp;садовый инвентарь или автомобиль. Правильно, если строительство дома и&nbsp;покупка навеса ведется параллельно. Так, вы&nbsp;можете купить навес из&nbsp;поликарбоната и&nbsp;гармонично вписать его в&nbsp;архитектонику участка, выбрав место, конфигурацию и&nbsp;материалы. Однако, не&nbsp;переживайте, если дом построен. Сотрудники компании &laquo;СтальКомплект&raquo; приедут на&nbsp;место, оценят ситуацию, выполнят замеры, предложат подходящие варианты дизайна и&nbsp;обсудят специфику монтажа.
		figure.alignright.size-small
			img(loading='lazy' src='img/@2x/content-2.jpg' alt='')
		p Навесы из&nbsp;поликарбоната&nbsp;&mdash; компактные многопрофильные быстровозводимые строения. Легкая и&nbsp;прочная конструкция укроет в&nbsp;непогоду, создаст уют и&nbsp;позволит не&nbsp;беспокоиться за&nbsp;садовый инвентарь или автомобиль. Правильно, если строительство дома и&nbsp;покупка навеса ведется параллельно. Так, вы&nbsp;можете купить навес из&nbsp;поликарбоната и&nbsp;гармонично вписать его в&nbsp;архитектонику участка, выбрав место,
		p Навесы из&nbsp;поликарбоната&nbsp;&mdash; компактные многопрофильные быстровозводимые строения. Легкая и&nbsp;прочная конструкция укроет в&nbsp;непогоду, создаст уют и&nbsp;позволит не&nbsp;беспокоиться за&nbsp;садовый инвентарь или автомобиль. Правильно, если строительство дома и&nbsp;покупка навеса ведется параллельно. Так, вы&nbsp;можете купить навес из&nbsp;поликарбоната и&nbsp;гармонично вписать его в&nbsp;архитектонику участка, выбрав место,
		figure
			img(loading='lazy' src='img/@2x/content-3.jpg' alt='')
		p Навесы из&nbsp;поликарбоната&nbsp;&mdash; компактные многопрофильные быстровозводимые строения. Легкая и&nbsp;прочная конструкция укроет в&nbsp;непогоду, создаст уют и&nbsp;позволит не&nbsp;беспокоиться за&nbsp;садовый инвентарь или автомобиль. Правильно, если строительство дома и&nbsp;покупка навеса ведется параллельно. Так, вы&nbsp;можете купить навес из&nbsp;поликарбоната и&nbsp;гармонично вписать его в&nbsp;архитектонику участка, выбрав место, конфигурацию и&nbsp;материалы. Однако, не&nbsp;переживайте, если дом построен. Сотрудники компании &laquo;СтальКомплект&raquo; приедут на&nbsp;место, оценят ситуацию, выполнят замеры, предложат подходящие варианты дизайна и&nbsp;обсудят специфику монтажа.
		h2 Навесы из поликарбоната
		p Навесы из&nbsp;поликарбоната&nbsp;&mdash; компактные многопрофильные быстровозводимые строения. Легкая и&nbsp;прочная конструкция укроет в&nbsp;непогоду, создаст уют и&nbsp;позволит не&nbsp;беспокоиться за&nbsp;садовый инвентарь или автомобиль. Правильно, если строительство дома и&nbsp;покупка навеса ведется параллельно. Так, вы&nbsp;можете купить навес из&nbsp;поликарбоната и&nbsp;гармонично вписать его в&nbsp;архитектонику участка, выбрав место, конфигурацию и&nbsp;материалы. Однако, не&nbsp;переживайте, если дом построен. Сотрудники компании &laquo;СтальКомплект&raquo; приедут на&nbsp;место, оценят ситуацию, выполнят замеры, предложат подходящие варианты дизайна и&nbsp;обсудят специфику монтажа.
		h3 Навесы из поликарбоната
		p Навесы из&nbsp;поликарбоната&nbsp;&mdash; компактные многопрофильные быстровозводимые строения. Легкая и&nbsp;прочная конструкция укроет в&nbsp;непогоду, создаст уют и&nbsp;позволит не&nbsp;беспокоиться за&nbsp;садовый инвентарь или автомобиль. Правильно, если строительство дома и&nbsp;покупка навеса ведется параллельно. Так, вы&nbsp;можете купить навес из&nbsp;поликарбоната и&nbsp;гармонично вписать его в&nbsp;архитектонику участка, выбрав место, конфигурацию и&nbsp;материалы. Однако, не&nbsp;переживайте, если дом построен. Сотрудники компании &laquo;СтальКомплект&raquo; приедут на&nbsp;место, оценят ситуацию, выполнят замеры, предложат подходящие варианты дизайна и&nbsp;обсудят специфику монтажа.
		h4 Навесы из поликарбоната
		p Навесы из&nbsp;поликарбоната&nbsp;&mdash; компактные многопрофильные быстровозводимые строения. Легкая и&nbsp;прочная конструкция укроет в&nbsp;непогоду, создаст уют и&nbsp;позволит не&nbsp;беспокоиться за&nbsp;садовый инвентарь или автомобиль. Правильно, если строительство дома и&nbsp;покупка навеса ведется параллельно. Так, вы&nbsp;можете купить навес из&nbsp;поликарбоната и&nbsp;гармонично вписать его в&nbsp;архитектонику участка, выбрав место, конфигурацию и&nbsp;материалы. Однако, не&nbsp;переживайте, если дом построен. Сотрудники компании &laquo;СтальКомплект&raquo; приедут на&nbsp;место, оценят ситуацию, выполнят замеры, предложат подходящие варианты дизайна и&nbsp;обсудят специфику монтажа.
		blockquote Навесы из&nbsp;поликарбоната&nbsp;&mdash; компактные многопрофильные быстровозводимые строения. Легкая и&nbsp;прочная конструкция укроет в&nbsp;непогоду, создаст уют и&nbsp;позволит не беспокоиться за&nbsp;садовый инвентарь или автомобиль. Правильно, если строительство
		ul
			- for (var x = 1; x <= 3; x++)
				li Пункт
		p Навесы из&nbsp;поликарбоната&nbsp;&mdash; компактные многопрофильные быстровозводимые строения. Легкая и&nbsp;прочная конструкция укроет в&nbsp;непогоду, создаст уют и&nbsp;позволит не&nbsp;беспокоиться за&nbsp;садовый инвентарь или автомобиль. Правильно, если строительство дома и&nbsp;покупка навеса ведется параллельно. Так, вы&nbsp;можете купить навес из&nbsp;поликарбоната и&nbsp;гармонично вписать его в&nbsp;архитектонику участка, выбрав место, конфигурацию и&nbsp;материалы. Однако, не&nbsp;переживайте, если дом построен. Сотрудники компании &laquo;СтальКомплект&raquo; приедут на&nbsp;место, оценят ситуацию, выполнят замеры, предложат подходящие варианты дизайна и&nbsp;обсудят специфику монтажа.
		+b.comments
			+e.heading
				+e.title
					h6 Добавить комментарий
					+e.warning Ваш адрес email не&nbsp;будет опубликован. Обязательные поля помечены #[span.danger *]
				+e.share
					span Поделиться:
					+soc2
			+form-wrap
				.row
					.col
						+e.TEXTAREA.input(placeholder='Ваш комментарий' name='comment')
					.col-md-auto
						+e.INPUT.input(type='email' placeholder='E-mail*' name='email' required)
						+e.INPUT.input(type='text' placeholder='Имя*' name='name' required)
						+b.polite-canopy
							+b.LABEL.custom-input-2
								+e.INPUT.input(type="checkbox" checked)
								+e.SPAN.label
								+e.SPAN.text Я согласен(а) с условиями передачи информации
						+e.btn.btn-primary(type="submit") отправить комментарий
		+b.questions
			+e.content
				span Остались вопросы?
				span Задай их&nbsp;в&nbsp;whatsapp!
			+e.btn.btn.btn-body2(href='#') задать вопрос в&nbsp;WhatsApp

	// end sContent