.sContent {
	color: $black;
	padding: var(--spacing);
	padding-bottom: calc(var(--spacing) * 4.28);
	border-radius: $border-radius-lg;
	background-color: $white;

	h1 {
		@include rfs(40px);
		font-weight: bold;
		line-height: (48 / 40);
		margin-bottom: 0;
		padding-bottom: var(--spacing);
	}
	h2 {
		@include rfs(30px);
		font-weight: bold;
		line-height: (36 / 30);
		margin-bottom: 0;
		padding-bottom: var(--spacing);
	}
	h3 {
		@include rfs(25px);
		font-weight: bold;
		line-height: (30 / 25);
		margin-bottom: 0;
		padding-bottom: var(--spacing);
	}
	h4 {
		@include rfs(20px);
		font-weight: bold;
		line-height: (24 / 20);
		margin-bottom: 0;
		padding-bottom: var(--spacing);
	}
	&__img-wrap {
		img {
			padding-bottom: var(--spacing);
			@include media-breakpoint-down(lg) {
				min-height: rem(300);
				object-fit: cover;
			}
		}
	}
	figure {
		padding-bottom: var(--spacing);
		@include media-breakpoint-between(md, xl) {
			padding-bottom: calc(var(--spacing) / 2);
		}
		margin-bottom: 0;
		max-width: 100%;
		height: auto;
		img {
			max-width: 100%;
			height: auto;
		}

		&.alignright {
			float: right;
			margin-left: var(--spacing);
			@include media-breakpoint-down(sm) {
				float: none;
			}
		}
		&.alignleft {
			float: left;
			margin-right: var(--spacing);
			@include media-breakpoint-down(sm) {
				float: none;
			}
		}
	}
	p {
		font-weight: normal;
		line-height: 185.8%;
		margin-bottom: 0;
		padding-bottom: var(--spacing);
	}
	blockquote {
		font-weight: normal;
		font-size: rem(18);
		line-height: 185.8%;
		padding: var(--spacing);
		background-color: $primary;
		margin: 0 calc(-1 * var(--spacing)) var(--spacing) calc(-1 * var(--spacing));
		@include media-breakpoint-up(xl) {
			font-size: rem(20);
		}
	}

	ul {
		font-weight: normal;
		line-height: 185.8%;
		padding-bottom: var(--spacing);
		margin-bottom: 0;
		padding-left: var(--spacing);
		list-style: none;
		@include media-breakpoint-up(xl) {
			padding-left: calc(var(--spacing) * 2.23);
		}
		li {
			position: relative;
			padding-left: calc(var(--spacing) / 2 + #{rem(10)});
			&::before {
				content: "";
				@include a-cent(y);
				width: rem(10);
				height: rem(10);
				left: 0;
				background-color: $primary;
				border-radius: $border-radius;
			}
		}
	}

	@include media-breakpoint-up(xl) {
	}
	@include media-breakpoint-up(lg) {
	}
	@include media-breakpoint-up(md) {
	}
	@include media-breakpoint-up(sm) {
	}
	@include media-breakpoint-up(xs) {
	}

	//
	@include media-breakpoint-between(md, xl) {
	}

	//
	@include media-breakpoint-only(xs) {
	}
	@include media-breakpoint-only(sm) {
	}
	@include media-breakpoint-only(md) {
	}
	@include media-breakpoint-only(lg) {
	}
	@include media-breakpoint-only(xl) {
	}

	//
	@include media-breakpoint-down(xl) {
	}
	@include media-breakpoint-down(lg) {
	}
	@include media-breakpoint-down(md) {
	}
	@include media-breakpoint-down(sm) {
	}
	@include media-breakpoint-down(xs) {
	}
}

.comments {
	&__heading {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		padding: var(--spacing) 0;
	}	
	&__title {
		font-weight: bold;
		line-height: 185.8%;
		margin-bottom: rem(8);
		@include media-breakpoint-up(md) {
			margin-bottom: 0;
		}
		@include media-breakpoint-down(lg) {
			max-width: 320px;
		}
	}
	&__share {
		display: flex;
		justify-content: space-between;
		// width: 200px;
		max-height: rem(24);
		span{
			margin-right: rem(10);
		}
		.soc {
			&__item {
				color: $black;
				.icon {
					font-size: rem(22);
				}
				&:hover {
					color: $primary;
				}
			}
		}
	}
	&__warning {
		font-weight: normal;

		line-height: 185.8%;
	}
	.danger {
		font-size: rem(20);
		color: $danger;
	}
	.form-wrap {
		padding: 0 0 var(--spacing) 0;
		&__input {
			background: $white;
			box-shadow: 0px 0px 60px rgba(0, 0, 0, 0.07);
			font-size: rem(16);
			line-height: 185.8%;
			color: #35455c;
			border-color: transparent;
			border-radius: $border-radius-lg;
			&:focus {
				border-color: rgba($color: $primary, $alpha: 0.5);
			}
			&[type="email"],
			&[type="text"] {
				padding: rem(10) rem(18);
				margin-bottom: var(--spacing-comments);
				min-height: rem(49);
			}
			&::placeholder {
				font-size: rem(16);
				line-height: 185.8%;
				color: #35455c;
			}
		}
		&__btn {
			width: 216px;
			min-height: 49px;
		}
		.polite-canopy {
			@include media-breakpoint-up(md) {
				max-width: 240px;
			}
			@include media-breakpoint-up(xl) {
				max-width: 290px;
			}
		}
		textarea {
			padding: rem(18);
			height: 265px;
			margin-bottom: var(--spacing-comments);
			@include media-breakpoint-up(md) {
				margin-bottom: 0;
				height: 100%;
			}
		}
		.polite-canopy {
			margin-bottom: var(--spacing-comments);
		}
	}
}
.questions {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	background-color: $lightgreen;
	padding: rem(22) var(--spacing);
	margin: 0 calc(-1 * var(--spacing));
	&__content {
		margin-bottom: rem(22);

		@include media-breakpoint-up(md) {
			margin-right: rem(32);
			margin-bottom: 0;
		}
		@include media-breakpoint-up(xl) {
			margin-right: rem(42);
		}
		span {
			display: block;
			color: $white;
			font-weight: bold;
			font-size: rem(27);
			line-height: (36 / 30);
			text-transform: uppercase;
			@include media-breakpoint-up(xl) {
				font-size: rem(30);
			}
		}
	}
	&__btn {
		position: relative;
		font-size: rem(14);
		line-height: (17 / 14);
		padding: rem(16) rem(20) rem(14) rem(44);
		&::before {
			content: "";
			@include a-cent(y);
			left: rem(20);
			width: rem(16);
			height: rem(16);
			background-image: url(../img/svg/whatsapp-2.svg);
			background-repeat: no-repeat;
			background-size: cover;
		}
	}
}

.similar-articles {
	padding-top: calc(#{rem(83)} * 0.6);
	padding-bottom: calc(#{rem(83)} * 0.6);
	@include media-breakpoint-up(lg) {
		padding-top: rem(83);
		padding-bottom: rem(83);
	}
	color: $body-color2;
	&__main-title {
		font-size: rem(24);
		font-weight: bold;
		line-height: (36 / 30);
		margin-bottom: 0;
		padding-bottom: var(--spacing);
		text-transform: uppercase;
		@include media-breakpoint-up(sm) {
			font-size: rem(26);

		}
		@include media-breakpoint-up(lg) {
			font-size: rem(30);
		}
	}
	a {
		&:hover {
			text-decoration: none;
			color: $primary;
		}
	}
	&__link {
		display: flex;
		justify-content: space-between;
		color: $body-color2;
		padding: rem(10) rem(14);
		box-shadow: 0px 0px 60px rgba(0, 0, 0, 0.07);
		border-radius: $border-radius-lg;
		text-decoration: none;
		@include media-breakpoint-up(md) {
			padding: rem(16) rem(18);
		}
		@include media-breakpoint-up(xl) {
			padding: rem(23) rem(26);
		}
		&:not(:last-child) {
			margin-bottom: rem(10);
		}
	}
	&__title {
		vertical-align: middle;
		font-weight: 600;
		line-height: 185.8%;
		margin-right: rem(10);
		@include media-breakpoint-up(md) {
			line-height: (26 / 22);
			font-size: rem(22);
		}
	}
	.social {
		font-size: 25px !important;
		&__item {
			&:last-child {
				margin-right: 0;
			}
		}
	}
}
.plan {
	position: relative;
	@include bg("s-not-know-bg2.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: right;
	padding-top: 0;
	padding-bottom: 0;
	position: relative;
	overflow: hidden;
	color: $white;
	margin: 0 calc(-1 * var(--spacing));
	padding: var(--spacing);

	@include media-breakpoint-up(xl) {
		padding: rem(62) var(--spacing) rem(62) var(--spacing);
	}
	.row,
	.col-12.col-lg-6.order-last {
		position: static;
	}
	&__title {
		font-size: rem(24);
		font-weight: bold;
		line-height: (36 / 30);
		margin-bottom: 0;
		padding-bottom: var(--spacing);
		text-transform: uppercase;
		max-width: 350px;
		@include media-breakpoint-up(sm) {
			font-size: rem(26);
			
		}
		@include media-breakpoint-up(md) {
			font-size: rem(30);
			max-width: 387px;
		}
	}
	&__img-wrap {
		position: absolute;
		top: 0;
		right: rem(-50);
		left: auto;
		opacity: 0.25;
		@include media-breakpoint-up(md) {
			opacity: 0.4;
		}
		@include media-breakpoint-up(lg) {
			opacity: 1;
			top: rem(15);
			left: -18%;
		}
		@include media-breakpoint-up(xl) {
			left: -8%;
		}
	}
	&__text {
		margin-bottom: var(--spacing);
		@include media-breakpoint-up(xl) {
			margin-bottom: rem(45);
		}
		max-width: 365px;
	}
	&__content {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	.form-wrap {
		background-color: transparent;
		padding: 0;
		.row {
			@include roww(18 / 2);
		}
		&__input {
			background: $white;
			font-size: rem(16);
			line-height: 185.8%;
			color: #35455c;
			border-color: transparent;
			border-radius: rem(5);
			padding: rem(10) rem(18);
			min-height: rem(49);
			&:focus {
				border-color: rgba($color: $primary, $alpha: 0.5);
			}
			&[type="tel"],
			&[type="text"] {
				margin-bottom: var(--spacing-comments);
			}
			&::placeholder {
				font-size: rem(16);
				line-height: 185.8%;
				color: #35455c;
			}
			@include media-breakpoint-up(lg) {
				max-width: 290px;
			}
		}
		&__btn {
			width: 216px;
			min-height: 49px;
			margin-bottom: var(--spacing);
			@include media-breakpoint-only(md) {
				margin-bottom: 0;
			}
		}
		.polite-canopy {
			margin-bottom: 0;
			@include media-breakpoint-up(xl) {
				max-width: 290px;
			}
		}
	}
}

.comments__share {
	ul{
		span{
			margin-right: 0 !important;
		}
		padding-left: 0 !important;
	}
}


.comment-form-cookies-consent {
	max-width: rem(290);
	position: relative;
	padding-left: rem(30);
	font-size: 14px;
	

	input{
		position: absolute;
		left: 0;
		top: 2px;
	}
}