mixin sSteps()
	// start sSteps
	+b.SECTION.sSteps.section#sSteps&attributes(attributes)
		.container
			+b.section-title.text-center
				h2
					span 6 
					| ШАГОВ К ВАШЕМУ НАВЕСУ
				
			+e.slider-wrap 
				+e.slider--js 
					mixin slide(data)
						+e.slide 
							+e.label Бесплатно
							.row
								+e.col.col-auto
									img(src=`#` data-lazy=`img/@2x/step-${data.i}.jpg`, alt="")
								.col
									+e.caption 
										+e.number= data.i
										+e.title!= data.t
										p!= data.p
					+slide({
						i:1,
						t:`Вызовите замерщика`,
						p:`Замерщик приедет в удобное для Вас время, в будни или выходные. Опишите все Ваши пожелания, мы учтем их при разработке навеса. Заказать замер можно позвонив по номеру <a href="tel:+74952122320">+7 495 212 23 20</a>`,
					})
					
					+slide({
						i:2,
						t:`3D-макет`,
						p:`Мы создадим эскиз Вашего навеса с учетом Ваших индивидуальных размеров и пожеланий. Посмотрите на эскизы, если Вас всё устраивает делаем чертеж и заключаем договор.`,
					})
					+slide({
						i:3,
						t:`Заключаем договор`,
						p:`Договор можем заключить либо у нас на производстве, либо к Вам приедет курьер с оригиналом. Также можем обменяться электронными вариантами (обмен оригиналами при доставке).`,
					})
					+slide({
						i:4,
						t:`Изготавливаем навес`,
						p:`Изготавливаем Ваш навес на производстве, он будет готов в течение 1-2 дней.Изготавливаем Ваш навес на производстве, он будет готов в течение 1-2 дней.`,
					})
					+slide({
						i:5,
						t:`Доставляем и собираем`,
						p:`Доставка осуществляется в удобный для Вас день, сборка осуществляется в день доставки.`,
					})
					+slide({
						i:6,
						t:`Подписываем акт приёма-передачи`,
						p:`После завершения сборки подписывается акт приема-передачи и&nbsp;производится окончательная оплата по&nbsp;договору.`,
					})




	// end sSteps