mixin s-type-of-materials()
	// start s-type-of-materials
	+b.SECTION.s-type-of-materials.section#s-type-of-materials&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 s-type-of-materials
				
			.row
	// end s-type-of-materials