.card {
	padding-top: calc(#{rem(30)} / 2);
	padding-bottom: calc(#{rem(50)} / 2);
	@include media-breakpoint-up(md) {
		padding-top: rem(28);
		padding-bottom: rem(50);
	}
	
	.section-title {
		h1 {
			font-size: rem(50);
			font-weight: 700;
			margin: 0;
			padding-top: rem(4);
			@include media-breakpoint-down(md) {
				font-size: rem(30);
			}
		}
	}

	&__foot-tittle {
		display: inline-block;
		font-size: rem(40);
		padding-top: rem(70);
		padding-bottom: rem(45);
		text-transform: uppercase;
		
		@include media-breakpoint-down(lg) {
			font-size: rem(32);
			padding-top: rem(45);
			padding-bottom: rem(30);
		}
		@include media-breakpoint-down(sm) {
			font-size: rem(24);
			padding-top: rem(35);
			padding-bottom: rem(20);
		}
	}

	.link-back {
		color: #000000;
		.icon {
			stroke: currentColor;
			fill: transparent;
			width: rem(18);
			height: rem(20);
		}
	}

	.card__row {
		@include roww(12);
		@include media-breakpoint-down(md) {
			@include roww(5);
		}
		
	}

	&__imgWrap {
		display: block;
		@include block(286,182);
		margin-bottom: rem(20);
		&--lg {
			@include block(595,400);
		}
		@include media-breakpoint-down(md) {
			margin-bottom: rem(8);
		}

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			position: absolute;
			left: 0;
			right: 0;
			top: 0;
			bottom: 0;
			margin: auto;
		}
	}
	
	&__slide {
		padding-left: 16.5px;
		padding-right: 16.5px;
	}

	.photoSlider-js {
		margin-left: -16.5px;
		margin-right: -16.5px;
	}

	&__value {
		font-size: rem(28);
		font-weight: 700;
		color: #EDA65D;
	}

	&__size {
		&--top {
			padding-bottom: rem(5);
		}
	}

	&__c-complect {
		padding: rem(29) 0 rem(15) 0;
		@include media-breakpoint-up(lg) {
			padding: rem(10) 0 rem(10) 0;
		}

	}

	&__add-opt {
		padding: rem(10) 0 rem(7) 0;
	}

	&__count	{
		font-weight: rem(16);
		padding-right: rem(5);
	}

	&__reset {
		position: relative;
		border: none;
		background-color: transparent;
		padding-right: rem(15);
		padding-left: 0;
		font-size: rem(14);
		outline: none !important;
		&:hover {
			color: #EDA65D;
		}
		
		&::after {
			content: "";
			position: absolute;
			width: rem(8);
			height: rem(8);
			right: rem(1);
			top: rem(8);
			background: url(../img/svg/filter-reset.svg) no-repeat;
			z-index: 1;
		}
	}
	table {
		width: 100%;
	}

	td {
		vertical-align: middle;
		border-bottom: 1px solid #BDBDBD;
	}

	tr:last-child {
		td {
			border: none;
		}
	}

	.btn-input-bath {

		display: block;
		position: relative;
		margin-bottom: rem(12);
		
		&__input {
			position: absolute;
			@extend .invisible
		}
		&__text {
			font-size: rem(14);
			padding: rem(20) 0 rem(20) rem(20);
			border: 1px solid #EDA65D;
			display: block;
			cursor: pointer;
			max-height: rem(127);
			@include media-breakpoint-down(lg) {
				display: flex;
				justify-content: space-between;
				align-items: center;
				padding: rem(15) rem(20) rem(15) rem(15);
			}
		}
		.btn-input-bath__input[type="radio"]:checked ~ .btn-input-bath__text {
			background: #FFE6CC;
		}
		.btn-input-bath__input[type="checkbox"]:checked ~ .btn-input-bath__text {
			background: #F6F6F6;
		}

		&__size {
			font-size: rem(16);
			line-height: (20 / 16);
		}

		&__value {
			display: block;
			font-size: rem(24);
			font-weight: 700;
			color: #EDA65D;
			padding-top: rem(12);
			@include media-breakpoint-down(lg) {
				padding-top: 0;
			}
			&--sm {
				font-size: rem(20);
				padding-top: rem(5);
				@include media-breakpoint-down(lg) {
					text-align: right;
					padding-top: 0;
				}
			}
		}

		&__reach {
			font-size: rem(10);
			
		}

		&__size {
			display: block;
			max-width: rem(75);
		}
	}

	&__btn {
		width: 100%;
		height: rem(56);
		font-size: rem(16);
		margin-top: rem(20);
		line-height: calc(20 / 16);
		padding: rem(19) 0;
	}

	.btn-primary {
		&--light {
			background-color: #FFF7EE;
			border: none;
			color: #EDA65D;
			width: 100%;
			&:hover {
				background-color: #ffffff;
				color: #000000;
			}
		}
	}

	.btn-input-table {
		display: block;
		position: relative;
		margin-bottom: rem(12);
		margin-right: rem(30);
		margin-bottom: 0;
		&__input {
			position: absolute;
			@extend .invisible
		}
		&__lab {
			position: relative;
			font-size: rem(14);
			padding: rem(8);
			border: 1px solid #EDA65D;
			display: block;
			cursor: pointer;
			width: 38px;
			height: 38px;
			border-radius: 4px;
			&::after, 
			&::before {
				content: '';
				@include mt;
				width: rem(20);
				height: rem(1);
				background-color: #EDA65D;
				position: absolute;
				left: 50%;
				top: 50%;
				margin-left: rem(-10);
				opacity: 1;
			}
			&:hover{
				background: #FFE6CC;
			}
		}
		.btn-input-table__input:checked ~ .btn-input-table__lab {
			background: #FFE6CC;
			&::before {
				transform: rotate(90deg);
			}
		}
	}

	
	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-up(xs) {}
	
	//
	@include media-breakpoint-between(md, xl) { }
	
	
	//
	@include media-breakpoint-only(xs) {}
	@include media-breakpoint-only(sm) {}
	@include media-breakpoint-only(md) {}
	@include media-breakpoint-only(lg) {}
	@include media-breakpoint-only(xl) {}
	
	//
	@include media-breakpoint-down(xl) {}
	@include media-breakpoint-down(lg) {}
	@include media-breakpoint-down(md) {}
	@include media-breakpoint-down(sm) {

		.complectation__descrption {
			margin: 0 !important;
		}
		
		table {
			display: block;
		}

		tbody {
			display: block;
		}

		td {
			display: block;
			border: none;			
			&:last-child {
				display: flex;
				justify-content: space-between;
			}
		}
		tr {
			position: relative;
			display: block;
			border-bottom: 1px solid#BDBDBD;
			padding-left: rem(62);
			margin: 0;
			padding-bottom: rem(10);
		}
		.btn-input-table {
			position: absolute;
			top: rem(22);
			left: 0;

		}
	}
	@include media-breakpoint-down(xs) {} 

}

.complectation {

	h3 {
		font-size: rem(30);
		line-height: calc(30 / 16);
		@include media-breakpoint-down(xs) {
			display: none;
		}
	}

	
	// &__c-complect {
	// 	padding: rem(108) 0 rem(16) 0;
	// }

	&__descrption {
		font-weight: 500;
		max-width: rem(340);
		a {
			color: #35455C;
			border-bottom: 1px solid;
			&:hover {
				text-decoration: none;
				background-color: transparent;
			}
		}
	}
	&__price {
		font-size: rem(20);
		font-weight: 700;
	}
	&__foto {
		font-size: rem(12);
		position: relative;
		padding-left: rem(22);
		text-decoration: underline;
		&::before {
			content: "";
			position: absolute;
			width: rem(14);
			height: rem(12);
			left: rem(1);
			top: rem(2);
			background: url(../img/svg/photo.svg) no-repeat center;
			z-index: 1;
		}
		&:hover {
			text-decoration: none;
		}
	}
	// &__reset {
	// 	position: relative;
	// 	border: none;
	// 	background-color: transparent;
	// 	padding-right: rem(15);
	// 	padding-left: 0;
	// 	font-size: rem(14);
	// 	outline: none !important;
	// 	&:hover {
	// 		color: #EDA65D;
	// 	}		
		
	// 	&::after {
	// 		content: "";
	// 		position: absolute;
	// 		width: rem(8);
	// 		height: rem(8);
	// 		right: rem(1);
	// 		top: rem(8);
	// 		background: url(../img/svg/filter-reset.svg) no-repeat;
	// 		z-index: 1;
	// 	}
	// }
	&__value {
		font-size: rem(24);
		font-weight: 700;
		color: #EDA65D;
		line-height: calc(30 / 16);
		text-transform: uppercase;
		padding-top: rem(5);
	}
	// &__add-opt {
	// 	padding: rem(14) 0 rem(7) 0;
	// }
	// &__btn {
	// 	width: 100%;
	// 	height: rem(56);
	// 	font-size: rem(16);
	// 	margin-top: rem(20);
	// 	line-height: calc(20 / 16);
	// 	padding: rem(19) 0;
	// }

	// .btn-primary {
	// 	&--light {
	// 		background-color: #FFF7EE;
	// 		border: none;
	// 		color: #EDA65D;
	// 		width: 100%;
	// 		&:hover {
	// 			background-color: #ffffff;
	// 			color: #000000;
	// 		}
	// 	}
	// }
	// &__count	{
	// 	font-weight: rem(16);
	// 	padding-right: rem(5);
	// }
	&__instruction {
		font-size: 14px;
		line-height: calc(18 / 14);
		padding-bottom: rem(10);
		@include media-breakpoint-down(lg) {
			padding-bottom: 0;
		}

	}
	&__descrption {
		font-size: rem(16);
		font-weight: 500;
		line-height: calc(19 / 16);
		margin-left: rem(-12);
		padding-top: rem(18);
		padding-bottom: rem(17);
	}
}

.tabs__caption .complectation__addit-standard {
	font-size: rem(20) !important;
	font-weight: 700 !important;
	line-height: calc(19 / 16) !important;
	text-transform: none !important;
	padding: 0 !important;
	margin: 0 !important;
	border: none !important;
	background: none !important;
	text-align: left;
	span {
		display: inline-block;
		position: relative;
		color: #EDA65D;
		padding: rem(10) 0;
		&::before {
			content: '';
			position: absolute;
			top: 100%;
			left: 0;
			height: 1px;
			width: 100%;
			@include mt;
			background-color: rgba($color: #000000, $alpha: 0.3)
		}
		@include media-breakpoint-down(md) {
			display: block;
		}
		@include media-breakpoint-up(lg) {
			br {
				display: none;
			}
		}
	}
	
	&:hover, &.active {
		span {
			&::before {
				background-color: #EDA65D;
			}
		}
	}
	&.active {
		span {
			&::before {
				height: 3px;
				margin-top: -1px;
			}
		}
	}
}
.tabs .tabs__caption .active {
	border-bottom: 3px solid #EDA65D;
}

.tabs__caption {
	margin-bottom: rem(18);
	flex-wrap: nowrap;
}

.fixed-block {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	padding: rem(7) 0;
	background-color: #fff;
	z-index: 200;

	.row {
		@include roww(3)
	}

	&__size {
		font-size: rem(10);
		line-height: (12 / 10);
	}
	&__btn {
		width: rem(110);
		height: rem(32);
		padding-top: rem(6);

	}
	
	&__count {
		padding-right: rem(5);
	}
	&__reset {
		position: relative;
		border: none;
		background-color: transparent;
		padding-right: rem(12);
		padding-left: 0;
		font-size: rem(12);
		outline: none !important;
		&:hover {
			color: #EDA65D;
		}

		&::after {
			content: "";
			position: absolute;
			width: rem(8);
			height: rem(8);
			right: rem(1);
			top: rem(6);
			background: url(../img/svg/filter-reset.svg) no-repeat;
			z-index: 1;
		}
	}
}

@include media-breakpoint-down(lg) {
	.sticky-js {
		position: static !important;		
	}
	.sticky-spacer {
		display: none !important;
	}
}