.sBlogArticles {
	@include media-breakpoint-up(xl) {
	}
	@include media-breakpoint-up(lg) {
	}
	@include media-breakpoint-up(md) {
	}
	@include media-breakpoint-up(sm) {
	}
	@include media-breakpoint-up(xs) {
	}

	//
	@include media-breakpoint-between(md, xl) {
	}

	//
	@include media-breakpoint-only(xs) {
	}
	@include media-breakpoint-only(sm) {
	}
	@include media-breakpoint-only(md) {
	}
	@include media-breakpoint-only(lg) {
	}
	@include media-breakpoint-only(xl) {
	}

	//
	@include media-breakpoint-down(xl) {
	}
	@include media-breakpoint-down(lg) {
	}
	@include media-breakpoint-down(md) {
	}
	@include media-breakpoint-down(sm) {
	}
	@include media-breakpoint-down(xs) {
	}
}

.search-form {
	position: relative;
	margin-bottom: rem(20);
	@include media-breakpoint-up(lg) {
		margin-bottom: rem(35);
	}

	&__site-search {
		border: none;
		outline: none;
		width: 100%;
		height: rem(54);
		padding-right: rem(20);
		background-color: $white;
		border-radius: $border-radius-lg;
		padding-left: rem(60);
		@include media-breakpoint-up(lg) {
			padding-left: rem(70);
		}
	}
	&__btn-search {
		@include mt;
		@include a-cent(y);
		height: 100%;
		left: rem(0);
		cursor: pointer;
		border: none;
		outline: none;
		border-radius: $border-radius-lg;
		background-color: $white;
		width: rem(40);
		@include media-breakpoint-up(lg) {
			width: rem(60);
		}
		&:focus,
		&:hover {
			outline: none;
			.icon {
				color: $primary;
				font-size: rem(22);
			}
		}
		.icon {
			@include mt;
			position: relative;
			left: rem(12);
			font-size: rem(18);
		}
	}
}

.article-head {
	display: flex;
	justify-content: space-between;
	padding-bottom: rem(15);
	@include media-breakpoint-up(lg) {
		padding-bottom: rem(30);
	}
	&__date {
		font-weight: 500;
		font-size: rem(16);
		line-height: 189%;
		background-color: $primary;
		border-radius: 7px;
		padding: 0 rem(8);
	}
}
.social {
	display: flex;

	&__item {
		display: flex;
		align-items: center;
		margin-right: rem(15);
	}
	.icon {
		color: $primary;
		margin-right: rem(10);
		&.icon-eye {
			font-size: rem(26);
		}
		&.icon-conversation {
			font-size: rem(20);
		}
	}
	&__count {
		font-weight: normal;
		font-size: rem(16);
		line-height: 185.8%;
		color: $black;
	}
}

.blog-article {
	
	color: $black;
	padding: var(--spacing);
	border-radius: $border-radius-lg;
	background-color: $white;
	&:not(:last-of-type) {
		margin-bottom: var(--spacing);
	}
	h2 {
		@include rfs(40px);
		font-weight: bold;
		line-height: (48 / 40);
		margin-bottom: 0;
		padding-bottom: var(--spacing);
	}
	&__img-wrap {
		padding-bottom: var(--spacing);
		@include media-breakpoint-down(lg) {
			img {
				min-height: rem(200);
				object-fit: cover;
			}
		}
	}
	p {
		font-weight: normal;
		line-height: 185.8%;
		margin-bottom: 0;
		padding-bottom: var(--spacing);
	}
	&__link {
		text-align: center;
		a {
			text-decoration: underline;
			font-weight: 500;
			font-size: rem(15);
			line-height: (18 / 15);
			color: $body-color2;
			&:hover,
			&:active {
				color: $primary;
				text-decoration: none;
			}
		}
	}
}

.page-navigation2 {
	display: flex;
	justify-content: center;
	padding-top: calc(#{rem(90)} * 0.6);
	@include media-breakpoint-up(lg) {
		padding-top: rem(90);
	}

	&__pagination {
		display: flex;
		justify-content: space-between;
		align-items: center;
		list-style: none;
		margin-bottom: 0;

		@include media-breakpoint-up(lg) {
			width: rem(420);
		}
	}

	&__page-link {
		@include mt;
		display: inline-block;
		text-align: center;
		padding: rem(5) rem(12);
		font-weight: normal;
		font-size: rem(16);
		line-height: 185.8%;
		text-align: center;
		color: $body-color2;
	}

	.disabled {
		color: #bbbbbb;
	}
	.active {
		font-weight: 800;
		color: $primary;
	}
	.icon-next {
		font-size: rem(15);
	}
	.icon-prev {
		width: rem(7);
		height: rem(10);
	}
}

.page-navigation2__page-item:first-child .page-navigation2__page-link {
	text-align: right;
	padding-right: 0;
}

.page-navigation2__page-item:last-child .page-navigation2__page-link {
	text-align: left;
	padding-left: 0;
}

.page-navigation2__page-item:not(:last-child) .page-navigation2__page-link {
	margin-right: rem(7);
	@include media-breakpoint-up(lg) {
		margin-right: rem(10);
	}
}
