.sClientsFeedback {
	background-color: var(--bg-color);
	--arrPos: -10px;
	--gutter-x: 25px;
	padding-top: rem(83);
	padding-bottom: rem(110);
	@include media-breakpoint-up(sm) {
		--arrPos: -35px;
	}
	@include media-breakpoint-up(md) {
		--arrPos: -40px;
		--gutter-x: 35px;
	}
	@include media-breakpoint-up(lg) {
		--arrPos: -30px;
	}
	@include media-breakpoint-up(xl) {
		--arrPos: -15px;
	}

	@media (min-width: 1400px) {
		--arrPos: -80px;
	}
	@media (min-width: 1630px) {
		--arrPos: -200px;
	}
	& > * {
		color: var(--color);
	}
	.section-title {
		color: var(--color);
		padding-bottom: rem(47.5);
		h2 {
			margin-bottom: 0;
		}
	}
	.slick-list {
		display: flex;
		align-items: center;
		min-height: rem(350);
		@include media-breakpoint-up(sm) {
			margin-left: calc(-1 * var(--gutter-x) / 2);
			margin-right: calc(-1 * var(--gutter-x) / 2);
		}

		@include media-breakpoint-up(xl) {
			min-height: rem(350);
		}
		@media (min-width: 1400px) {
			min-height: rem(400);
		}
		@media (min-width: 1600px) {
			min-height: rem(550);
		}
	}
	&__slider {
		@include media-breakpoint-up(sm) {
			padding: 0 rem(15);
		}
		@media (min-width: 1630px) {
			padding: 0;
		}
	}

	.slick-track {
		display: flex;
	}
	.slick-slide {
		height: auto;
	}

	.slick-arrow {
		top: 40%;
	}

	.slick-next {
		right: var(--arrPos);
	}
	.slick-prev {
		left: var(--arrPos);
	}

	&__comment {
		height: 100%;
		display: flex;
		flex-direction: column;
		margin-left: calc(var(--gutter-x) / 2);
		margin-right: calc(var(--gutter-x) / 2);

		p {
			flex-grow: 1;
			font-weight: 600;
			font-size: rem(20);
			line-height: (25 / 20);
			margin-bottom: rem(30);
			@include media-breakpoint-only(sm) {
				font-size: rem(17);
			}
			@include media-breakpoint-up(sm) {
				margin-bottom: rem(40);
			}
			@media (min-width: 1630px) {
				margin-bottom: rem(65);
			}
		}
		audio {
			width: 100%;
			margin-bottom: rem(25);
			@media (min-width: 1630px) {
				margin-bottom: rem(36.61);
			}
		}
	}
	&__author {
		display: flex;
		justify-content: space-between;
		align-items: flex-end;
		flex-wrap: wrap;
		margin-bottom: rem(17.74);
	}
	&__name {
		font-weight: 600;
		font-size: rem(20);
		line-height: (25 / 20);
		margin-right: rem(10);
		@include media-breakpoint-only(sm) {
			font-size: rem(16);
		}
	}
	&__more {
		font-weight: 600;
		text-decoration-line: underline;
		color: var(--color);
		@include media-breakpoint-only(sm) {
			font-size: rem(14);
		}
	}
	.slick-dots {
		display: flex;
		align-items: center;
		justify-content: center;
		margin-bottom: 0;
		max-width: 100%;
		margin-top: rem(37.5);
		li {
			position: relative;
			background-color: transparent;
			margin: 5px 8px;
			@include media-breakpoint-up(sm) {
				margin: 5px 10px;
			}
			@include media-breakpoint-up(md) {
				margin: 5px 13px;
			}
			@include media-breakpoint-up(xl) {
				margin: 5px 22px;
			}
			&::after {
				content: "";
				@include a-cent;
				@include mt;
				border-radius: 50%;
				background-color: $black;
				width: 10px;
				height: 10px;
				z-index: 2;
			}
			&::before {
				content: "";
				@include a-cent;
				@include mt;
				width: 20px;
				height: 20px;
				border-radius: 50%;
				background-color: transparent;
				z-index: 1;
			}
			&.slick-active {
				&::after {
					background-color: $primary;
				}
				&::before {
					background-color: $white;
				}
			}
		}
	}
	@include media-breakpoint-up(xl) {
	}
	@include media-breakpoint-up(lg) {
	}
	@include media-breakpoint-up(md) {
	}
	@include media-breakpoint-up(sm) {
	}
	@include media-breakpoint-up(xs) {
	}

	//
	@include media-breakpoint-between(md, xl) {
	}

	//
	@include media-breakpoint-only(xs) {
	}
	@include media-breakpoint-only(sm) {
	}
	@include media-breakpoint-only(md) {
	}
	@include media-breakpoint-only(lg) {
	}
	@include media-breakpoint-only(xl) {
	}

	//
	@include media-breakpoint-down(xl) {
	}
	@include media-breakpoint-down(lg) {
	}
	@include media-breakpoint-down(md) {
	}
	@include media-breakpoint-down(sm) {
	}
	@include media-breakpoint-down(xs) {
	}
}
