.top-nav {
	background-color: #ffffff;
	//
	@include media-breakpoint-up(xl) {
	}

	@include media-breakpoint-up(lg) {
	}

	@include media-breakpoint-up(md) {
	}

	@include media-breakpoint-up(sm) {
	}

	@include media-breakpoint-up(xs) {
	}

	//
	@include media-breakpoint-between(md, xl) {
	}

	//
	@include media-breakpoint-only(xs) {
	}

	@include media-breakpoint-only(sm) {
	}

	@include media-breakpoint-only(md) {
	}

	@include media-breakpoint-only(lg) {
	}

	@include media-breakpoint-only(xl) {
	}

	//
	@include media-breakpoint-down(xl) {
	}

	@include media-breakpoint-down(lg) {
	}

	@include media-breakpoint-down(md) {
	}

	@include media-breakpoint-down(sm) {
	}

	@include media-breakpoint-down(xs) {
	}
	.row {
		align-items: center;
	}
}
.top-nav__time {
	display: flex;
	align-items: center;
	margin-left: rem(-5);
	margin-right: rem(-5);
	> * {
		margin-left: rem(5);
		margin-right: rem(5);
	}
	margin-left: auto;
	justify-content: flex-end;
	.icon {
		color: $primary;
		font-size: rem(18);
	}
}

.menu {
	@include media-breakpoint-up(lg) {
		// @include roww(20 / 2);
		display: flex;
		margin-left: rem(-20);
		margin-right: rem(-20);
	}
	list-style: none;
	margin-bottom: 0;
	a {
		padding: rem(30) rem(20);
		color: $body-color;
		text-decoration: none !important;
		font-weight: bold;
		display: block;
	}
}

// мобильное меню

// мобильное меню
$h: rem(3);

.toggle-menu-mobile {
	display: block;
	height: $h * 12;
	margin-left: 0;
	position: relative;
	z-index: 999 !important;
	right: 0;
	border-radius: 5px;
	top: 0;

	span:after,
	span:before {
		content: "";
		position: absolute;
		left: 0;
	}
	span {
		@include a-cent(y);
	}
	span:before {
		top: $h * 2;
	}
	span:after {
		bottom: $h * 2;
	}

	span {
		position: relative;
		display: block;
	}

	span,
	span:after,
	span:before {
		// width: 32px;
		font-size: 18px;
		width: 1em;
		height: $h;
		background-color: $primary;
		transition: all 0.3s;
		backface-visibility: hidden;
		border-radius: 6px;
	}

	&.on {
		opacity: 0;
	}

	&.on span {
		background-color: transparent;
	}

	&.on span:before {
		top: 0;
		bottom: 0;
		transform: rotate(45deg);
		transform-origin: 50% 50%;
	}

	&.on span:after {
		top: 0;
		bottom: 0;
		transform: rotate(-45deg);
		transform-origin: 50% 50%;
	}
}

.menu-mobile {
	position: fixed !important;
	z-index: 999;
	max-width: 85%;
	height: 101vh;
	width: 280px;
	top: 0;
	// left: 0;
	right: 0;
	transform: translate(100%, 0);
	@include mt(0.6);
	will-change: transform;

	&__inner {
		background-color: #c3c3c3;
		padding: 5% 0;
		overflow-y: auto;
		-webkit-overflow-scrolling: touch;
		height: 100%;
	}

	&.active {
		transform: translate(0, 0);

		.toggle-menu-mobile {
			opacity: 1;
		}
	}

	.toggle-menu-mobile {
		// position: relative;
		cursor: pointer;
		margin-left: -15%;
		position: absolute;
		opacity: 0;
		left: 0;
		right: auto;
		color: #fff;
		top: 10px;
		z-index: 9999;
		background-color: transparent;

		span,
		span:after,
		span:before {
			background-color: #fff;
		}

		&.on {
			opacity: 1;

			span {
				background-color: transparent;
			}
		}
	}

	ul {
		position: relative;
	}

	li {
		display: block;
		margin: 0;
		border-top: 1px solid rgba(255, 255, 255, 0.13);

		a {
			// font-size: 16px;

			padding: 10px;
			display: block;
		}
	}

	&__btn-wrap {
		// margin-left: rem(-8);
		// margin-right: rem(-8);
		padding-left: rem(4);
	}
	&__btn {
		//
		@include media-breakpoint-up(xl) {
			min-width: rem(207);
		}
		margin-left: rem(8);
		margin-right: rem(8);
		margin-top: rem(10);
		.icon {
			font-size: rem(21);
			margin-right: rem(12);
		}
	}
	.top-nav__time {
		margin-top: 10px;
		margin-left: 10px;
	}
}

.menu-item-has-children {
	position: relative;

	@include media-breakpoint-up(lg) {
		a {
			padding-right: rem(27) !important;
		}
		&:hover {
			& > a::after {
				transform: rotate(180deg) translateY(50%);
			}
			.sub-menu {
				display: block;
			}
		}
	}
	.toggle-l {
		@include mt;
		cursor: pointer;
		position: absolute;
		top: 0;
		right: 5px;
		width: rem(44);
		height: rem(44);
		// background-color: $primary;
		// border-radius: 5px;
		background-image: url(../img/svg/cevron-down.svg);
		background-repeat: no-repeat;
		background-size: 40%;
		background-position: center;
		// &:hover, &:active {
		// 	background-color: darken($color: $primary, $amount: 5);
		// }
	}

	& > a::after {
		@include media-breakpoint-up(lg) {
			content: "";
			@include mt;
			@include a-cent(y);
			right: 5px;
			background-image: url(../img/svg/shevron-down-dark.svg);
			display: inline-block;
			background-size: 10px 10px;
			background-position: center center;
			background-repeat: no-repeat;
			height: rem(18);
			width: rem(18);
			// margin-left: rem(8);
		}
	}
}
.sub-menu {
	display: none;
	list-style: none;
	padding-left: rem(10);
	@include media-breakpoint-up(lg) {
		position: absolute;
		left: 0;
		top: 100%;
		min-width: 230px;
		background-color: $white;
		padding-left: 0;
		left: rem(15);
		box-shadow: 0 0 rem(20) rgba(0, 0, 0, 0.05);
	}
	li:not(:last-of-type) {
		a {
			@include media-breakpoint-up(lg) {
				border-bottom: 1px solid rgba(0, 0, 0, 0.05);
			}
		}
	}
	a {
		text-transform: uppercase;
		font-size: rem(14);
		padding: rem(10) rem(15);
		@include media-breakpoint-up(lg) {
			padding: rem(15) rem(20) !important;
			&:hover {
				color: $primary;
			}
		}
	}
}
