
mixin mob-mnu()
	
	+b.menu-mobile--js.d-lg-none
		+b.toggle-menu-mobile--js
			span
		+e.inner
		
			+mnu() 
			+e.btn-wrap
				+e.btn.btn-primary.link-modal(href="#modal-call" data-order="Заказать звонок" data-title='Заказать звонок' data-text="Оставьте заявку и наш менеджер перезвонит вам!" data-btn="ЗАКАЗАТЬ ЗВОНОК")
					+icon("telephone")
					| Заказать звонок
				+e.btn.btn-primary.link-modal(href="#modal-call" data-order="Вызвать замерщика" data-title='Вызвать замерщика' data-text="Оставьте заявку и наш замерщик приедет к вам!" data-btn="ВЫЗВАТЬ ЗАМЕРЩИКА")
					+icon("rule")
					| Вызвать замерщика
			.top-nav__time
				+icon("time-left")
				span.smallest.d-none.d-xl-block Мы работаем: 
				| 
				strong Пн-Вс 09:00&nbsp;&mdash; 21:00
	//  мобильное меню
mixin top-nav() 
	// start top-nav
	+b.top-nav.block-with-lazy.d-none.d-lg-block
		.container
			.row
				.col
					+mnu()
				.col-auto
					+e.time
						+icon("time-left")
						span.smallest.d-none.d-xl-block Мы работаем: 
						| 
						strong Пн-Вс 09:00&nbsp;&mdash; 21:00
					
	// end top-nav