mixin s-thanks()
	// start s-thanks
	+b.SECTION.s-thanks.section#s-thanks&attributes(attributes)
		.container
			+b.section-title.text-center
				h1 Спасибо за заявку
				.ttu.h5 В ближайщее время с Вами свяжется наш менеджер
				+e.btn(href="#") Вернуться на главную 
	// end s-thanks