.s-production {
	padding-top: rem(55);
	// @include media-breakpoint-up(чд) {

	&__col {

		@include media-breakpoint-up(md) {

			margin-bottom: rem(48);
		}

		margin-bottom: rem(35);
	}

	&__item-head {
		position: relative;
		@include block(280, 244);
	}

	&__item-title {
		color: #ffffff;
		position: absolute;
		// font-size: $h6-font-size;
		// @include rfs()
		@extend .h6;
		margin-bottom: 0;
		font-weight: 700;
		padding: rem(7) rem(13);
		bottom: 0;
		left: 0;
		line-height: 1.2;
	}

	&__item {
		background-color: $light;
		border-radius: 3px;
		position: relative;
		overflow: hidden;

		picture {
			overflow: hidden;
		}

		img {
			@include mt;
		}

		&:hover {
			img {
				transform: scale(1.06);
			}
		}
	}

	&__item-foot {
		display: flex;
		align-items: center;
	}

	&__item-price {
		flex-grow: 1;
		padding-left: rem(15);
		font-weight: bold;
	}

	&__btn {
		@extend .btn-primary;

		@include media-breakpoint-up(xl) {

			width: rem(129);
		}

		border-radius: 0 0 rem(3) rem(3);
		font-size: $em-base;
		font-weight: 700;
		padding: rem(7);
	}

	@include media-breakpoint-up(xl) {}

	@include media-breakpoint-up(lg) {}

	@include media-breakpoint-up(md) {}

	@include media-breakpoint-up(sm) {}

	@include media-breakpoint-up(xs) {}

	//
	@include media-breakpoint-between(md, xl) {}


	//
	@include media-breakpoint-only(xs) {}

	@include media-breakpoint-only(sm) {}

	@include media-breakpoint-only(md) {}

	@include media-breakpoint-only(lg) {}

	@include media-breakpoint-only(xl) {}

	//
	@include media-breakpoint-down(xl) {}

	@include media-breakpoint-down(lg) {}

	@include media-breakpoint-down(md) {}

	@include media-breakpoint-down(sm) {}

	@include media-breakpoint-down(xs) {}

}