mixin s-chats()
	// start s-chats
	+b.SECTION.s-chats.lazy-background#s-chats&attributes(attributes)
		.container

			+e.block
				img.bg.lazy(src="#" data-src="img/@2x/left-block.png", alt="")
				+b.section-title
					h2 ХОТИТЕ
						br
						| УЗНАТЬ ЦЕНУ?
					+e.text НЕ&nbsp;ВЫЗЫВАЯ ЗАМЕРЩИКА?
				+e.foot
					.row
						.col-auto
							h6 ОТПРАВЬТЕ ФОТО И&nbsp;РАЗМЕРЫ МЕСТА&nbsp;УСТАНОВКИ НАМ 
								| 
								strong В&nbsp;WhatsApp, Viber или Telegram
						.col-auto
							+e.links
								+e.link(href="#")
									img.res-i.lazy(src="#" data-src="img/svg/chat-1.svg", alt="")
									//- +pic("chat-1.png",'','lazy',0)
								
								+e.link(href="#")
									img.res-i.lazy(src="#" data-src="img/svg/chat-2.svg", alt="")
									//- +pic("chat-2.png",'','lazy',0)
								
								+e.link(href="#")
									img.res-i.lazy(src="#" data-src="img/svg/chat-3.svg", alt="")
									//- +pic("chat-3.png",'','lazy',0)
							.small переходите в наши месенджеры
								
	// end s-chats