mixin s-contact()
	// start s-contact
	+b.s-contact.block-with-lazy#s-contact&attributes(attributes)
		.container
			+e.block
				+e.title Адрес производства
				ul
					li Лобня ул. Маяковского д.5
					li Одинцово, Транспортная, д.&nbsp;2
					li Кашира, Стрелецкая д.66
					li Фатеево, городской округ Павловский Посад, д.&nbsp;118

				.row
					.col-sm-6
						+e.title Телефон
						a.text-body(href="tel:+7(495)212-23-20")  +7 (495) 212-23-20
					.col-sm-6
						+e.title e-mail
						a.text-body(href="mailto:info@sample.ru")  info@sample.ru
		+e.map-wrap.map-wrap-js(data-map='<script  defer src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A85a146c8e6a2ac7955ce97953ec90397b21c350fb3063910efe3dcd76227180c&amp;width=100%25&amp;height=517&amp;lang=ru_RU&amp;scroll=false"></script>')
		 
	// end s-contact