mixin s-contact()
	// start s-contact
	+b.s-contact.block-with-lazy#s-contact&attributes(attributes)
		.container
			+e.block
				+e.title Адрес производства
				ul
					li Лобня ул. Маяковского д.5
					li Одинцово, Транспортная, д.&nbsp;2
					li Кашира, Стрелецкая д.66
					li Фатеево, городской округ Павловский Посад, д.&nbsp;118

				.row
					.col-6
						+e.title Телефон
						a.text-body(href="tel:+7(495)212-23-20")  +7 (495) 212-23-20
					.col-6
						+e.title e-mail
						a.text-body(href="mailto:info@sample.ru")  info@sample.ru
		+e.map-wrap.map-wrap-js
			
	// end s-contact